In [14]:
from datetime import datetime as dt
from datetime import timedelta
from edgar import Company
import lxml.html as lh
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import re
import time

In [ ]:
# Functions for getting the CIK and Company Name from a SPAC ticker

def get_ticker_to_cik():
    # local copy: data/ticker_to_cik.txt
    ticker_to_cik = pd.read_csv('https://www.sec.gov/include/ticker.txt',
                                sep='\t', header=None, names=['ticker','cik'])
    ticker_to_cik['ticker'] = ticker_to_cik.ticker.str.upper()
    ticker_to_cik['cik'] = ticker_to_cik.cik.astype(str)
    return ticker_to_cik

def get_cik_to_name():
    # local copy: data/cik_to_name.json
    cik_to_name = pd.read_json('https://www.sec.gov/files/company_tickers.json').transpose()
    cik_to_name['ticker'] = cik_to_name.ticker.str.upper()
    cik_to_name['cik'] = cik_to_name.cik_str.astype(str)
    return cik_to_name

def process_spac_lists(file_path_current, file_path_past, write=False):
    # current spac list
    spac_list_current = pd.read_csv(file_path_current)
    spac_list_current = spac_list_current.Ticker.unique()
    spac_list_current = pd.DataFrame(spac_list_current, columns=['Ticker'])
    
    # past spac list (completed business combination)
    spac_list_past = pd.read_csv(file_path_past)
    spac_list_past.fillna('missing', inplace=True)
    spac_list_past['dupe_filter'] = spac_list_past['Old Ticker'] + spac_list_past['New Ticker']
    spac_list_past = spac_list_past[spac_list_past.dupe_filter.isin(spac_list_past.dupe_filter.unique())]
    spac_list_past.drop(columns=['dupe_filter'], inplace=True)
    
    # write to file
    if write==True:
        spac_list_current.to_csv('spac_list_current.csv', index=False)
        spac_list_past.to_csv('spac_list_past.csv', index=False)
    
    # get ticker to cik and cik to company name file, then merge
    ticker_to_cik = get_ticker_to_cik()
    cik_to_name = get_cik_to_name()
    spac_list_past = spac_list_past.merge(ticker_to_cik, how='left', left_on='New Ticker', right_on='ticker')
    spac_list_past = spac_list_past.merge(cik_to_name[['cik','ticker','title']], how='left', on=['cik','ticker'])
    spac_list_current = spac_list_current.merge(ticker_to_cik, how='left', left_on='Ticker', right_on='ticker')
    spac_list_current = spac_list_current.merge(cik_to_name[['cik','ticker','title']], how='left', on=['cik','ticker'])
    
    return spac_list_current, spac_list_past

In [97]:
# Functions for pulling 8-K html, converting to text, grabbing date, and simple classifier

def form_html_to_text(forms_html):
    forms_text = []
    for form_html in forms_html:
        form_text = form_html.text_content().replace('\n',' ').replace('\xa0',' ').lower()
        form_text = re.sub(' +', ' ', form_text) # remove extra spaces
        forms_text.append(form_text)
    return forms_text

def date_parser_primary(split_text):
    # handle case: "november 13 (november 8, 2019)""
    if '(' in split_text[1] and ',' not in split_text[1].split('(')[0]:
        monthday_split = split_text[1].split('(')[0]
        year_split = split_text[1].split('(')[1].split(', ')[1].split(')')[0]
        date_string = monthday_split.replace(' ','') + ', ' + year_split.replace(')','')
    # handle cases:
    # "november 13, 2019"
    # "november 13, 2019 (november 15, 2019)"...uses first date
    # "july [   ], 2019"...return None
    else:
        split_text = split_text[1].split(', ')
        if '[' in split_text[0]:
            return None
        date_string = split_text[0].replace(' ','') + ', ' + split_text[1].replace(' ','')[0:4]
    date_dt = dt.strptime(date_string, '%B%d, %Y')
    date_dt = date_dt.strftime('%Y-%m-%d')
    return date_dt

def date_parser_secondary(split_text):
    # handle case when date comes before "date of report..." string
    split_text = split_text[0].split(', ')
    monthday_split = split_text[len(split_text)-2].split(' ')
    month = monthday_split[len(monthday_split)-2].replace('1934','').replace('(','') # case: 1934June
    day = monthday_split[len(monthday_split)-1]
    year = split_text[len(split_text)-1].replace(' ','')[0:4]
    date_string = str(month)+str(day)+', '+str(year)
    date_dt = dt.strptime(date_string, '%B%d, %Y')
    date_dt = date_dt.strftime('%Y-%m-%d')
    return date_dt

# TODO: handle duplicate dates (sometime multiple 8-Ks on same date)
def create_date_text_df(forms_text, form_type):
    df = pd.DataFrame()
    for form_text in forms_text:
        date_case_1 = 'date of report (date of earliest event reported):'
        date_case_2 = 'date of report (date earliest event reported):'
        date_case_3 = 'date of earliest event reported:'
        date_case_4 = 'date of report (date of earliest event reported)'
        if len(form_text.split(date_case_1))>1:
            split_text = form_text.split(date_case_1)
            date_dt = date_parser_primary(split_text)
        elif len(form_text.split(date_case_2))>1:
            split_text = form_text.split(date_case_2)
            date_dt = date_parser_primary(split_text)
        elif len(form_text.split(date_case_3))>1:
            split_text = form_text.split(date_case_3)
            date_dt = date_parser_primary(split_text)
        elif len(form_text.split(date_case_4))>1:
            split_text = form_text.split(date_case_4)
            date_dt = date_parser_secondary(split_text)
        else:
            print('none of the date identifiers worked. skipping this form...')
#             print(form_text)
            continue
        df = df.append(pd.Series([date_dt, form_type, form_text]), ignore_index=True)
    if len(df)!=0:
        df.columns = ['date','form','text']
    return df

def get_forms_text(company_name, cik_id, form_type):
    print(company_name)
    company = Company(company_name, cik_id)
    print('url to forms:', company.get_filings_url(filing_type=form_type, ownership='include', no_of_entries=100))
    forms_site_html = company.get_all_filings(filing_type=form_type, ownership='include', no_of_entries=100)
    forms_html = company.get_documents(forms_site_html, no_of_documents=100, debug=False)
    forms_text = form_html_to_text(forms_html)
    if len(forms_text)==0:
        return
    df = create_date_text_df(forms_text, form_type)
    return df

def simple_text_match(df_form, substring):
    df_form[substring.replace(' ','_')+'_found'] = df_form.text.apply(lambda x: 1 if substring in x else 0)
    return df_form

In [129]:
# Functions for grabbing and saving price data

def bulk_save_alphavantage_data(symbols, start_date='2018-01-01', end_date='2020-07-10'):
    for symbol in symbols:
        print(symbol)
        df_prices = get_historical_prices(symbol=symbol,
                                          start_date=start_date,
                                          end_date=end_date,
                                          source='alphavantage')
        if df_prices is not None:
            df_prices = process_historical_prices(df_prices)
            df_prices.to_csv('data/prices/'+symbol+'_prices.csv', index=False)
        time.sleep(12)
        
def run_bulk_save_prices(spac_list_current, spac_list_past, warrants=False):
    # spacs missing price data entirely
    missing_past_spacs = ['missing', 'LCAH', 'FMCI1', 'CFCO']
    missing_current_spacs = ['ACNDU', 'ARYB', 'BRLI', 'DFHT', 'DMYD', 'FUSE', 'GOAC', 'IWAC', 'LCAH', 'LGVW',
                             'MCAC', 'MLAC', 'PANA', 'PSAC', 'PSTH', 'SSMC', 'TREB']
    
    symbols_past_new_ticker = [x for x in spac_list_past.ticker.unique().tolist() if str(x)!='nan']
    symbols_past_old_ticker = spac_list_past['Old Ticker'].unique().tolist()
    symbols_past_old_ticker = [x for x in symbols_past_old_ticker if x not in missing_past_spacs]
    symbols_current = [x for x in spac_list_current['Ticker'] if x not in missing_current_spacs]
    if warrants:
        symbols_past_new_ticker = [x + 'W' for x in symbols_past_new_ticker]
        symbols_past_old_ticker = [x + 'W' for x in symbols_past_old_ticker]
        symbols_current = [x + 'W' for x in symbols_current]
    bulk_save_alphavantage_data(symbols=symbols_past_new_ticker, start_date='2018-01-01', end_date='2020-07-10')
    bulk_save_alphavantage_data(symbols=symbols_past_old_ticker, start_date='2018-01-01', end_date='2020-07-10')
    bulk_save_alphavantage_data(symbols=symbols_current, start_date='2018-01-01', end_date='2020-07-10')
        
def load_saved_prices_data(symbol):
    df_prices = pd.read_csv('data/prices/'+symbol+'_prices.csv')
    print('price data min date:', df_prices.date.min())
    print('price data max date:', df_prices.date.max())
    return df_prices

def get_historical_prices(symbol, start_date, end_date, source):
    print('input start_date:', start_date)
    print('input end_date:', end_date)
    start_split = start_date.split('-')
    end_split = end_date.split('-')
    start = dt(int(start_split[0]), int(start_split[1]), int(start_split[2]))
    end = dt(int(end_split[0]), int(end_split[1]), int(end_split[2]))
    try:
        # be careful with missing/limited data in yahoo data
        if source=='yahoo':
            df_prices = pdr.data.DataReader(name=symbol, data_source='yahoo', start=start, end=end)
        # alphavantage seems to be most reliable. 5 calls per minute and 500 calls per day
        if source=='alphavantage':
            df_prices = pdr.data.DataReader(name=symbol, data_source='av-daily', start=start, end=end,
                                            api_key='BDB9WJQRCZKINCLD')
        # iex has extremely limited api calls
        if source=='iex':
            df_prices = pdr.data.DataReader(name=symbol, data_source='iex', start=start, end=end,
                                            api_key='pk_970dfff359894b15a056cf677c02e11f')
    except:
        return None
    return df_prices

def process_historical_prices(df_prices):
    df_prices.reset_index(inplace=True)
    df_prices.rename(columns={'index':'date'}, inplace=True)
    df_prices.columns = df_prices.columns.str.lower()
    df_prices['date'] = df_prices.date.astype(str)
    df_prices['close_t+1'] = df_prices.close.shift(-1)
    df_prices['close_t+3'] = df_prices.close.shift(-3)
    df_prices['close_t+5'] = df_prices.close.shift(-5)
    df_prices['close_t+7'] = df_prices.close.shift(-7)
    df_prices['open_close_t+1_%chg'] = (df_prices['close_t+1'] - df_prices['open']) / df_prices['open']
    df_prices['open_close_t+3_%chg'] = (df_prices['close_t+3'] - df_prices['open']) / df_prices['open']
    df_prices['open_close_t+5_%chg'] = (df_prices['close_t+5'] - df_prices['open']) / df_prices['open']
    df_prices['open_close_t+7_%chg'] = (df_prices['close_t+7'] - df_prices['open']) / df_prices['open']
    df_prices = df_prices.round(2)
    print('output min date:', df_prices.date.min())
    print('output max date:', df_prices.date.max())
    return df_prices

In [121]:
# Function outputting dataframe of 8-Ks, classification, and 1,3,5,7 day returns

def agg_spac_returns(spac_list, price_source='alphavantage'):
    df_returns_agg = pd.DataFrame()
    for ind in range(0, len(spac_list)):
        broken_inds_current = [109,115,118,120,126]
        if ind in broken_inds_current:
            continue

        row = spac_list.iloc[ind]
        print('index:', ind)
        print(row.ticker)

        # get form 8Ks
        df_form_8K = get_forms_text(company_name=row.title, cik_id=row.cik, form_type='8-K')
        if df_form_8K is None or len(df_form_8K)==0:
            print('no 8Ks found\n')
            continue
            
        # simple classifier
        df_form_8K = simple_text_match(df_form_8K, 'letter of intent')
        df_form_8K = simple_text_match(df_form_8K, 'business combination agreement')

        # get stock prices
        try:
            df_prices = load_saved_prices_data(row.ticker)
        except:
            df_prices = get_historical_prices(symbol=row.ticker,
                                              start_date=df_form_8K.date.min(),
                                              end_date=(dt.strptime(df_form_8K.date.max(),'%Y-%m-%d') + 
                                                        timedelta(days=5)).strftime('%Y-%m-%d'),
                                              source=price_source)
            if df_prices is None:
                print('prices for', row.ticker, 'not found. skipping...')
                continue
            df_prices = process_historical_prices(df_prices)

        # output returns per form
        df_returns = df_form_8K.merge(df_prices[['date','open_close_t+1_%chg','open_close_t+3_%chg',
                                                 'open_close_t+5_%chg','open_close_t+7_%chg']],
                                      how='left', on='date')
        display(df_returns)

        # aggregate
        if len(df_returns)!=0:
            df_returns['symbol'] = row.ticker
        df_returns_agg = df_returns_agg.append(df_returns)
        
        if ind%20==0:
            time.sleep(60)
    return df_returns_agg

In [131]:
# load current and past spac lists
spac_list_current, spac_list_past = process_spac_lists(file_path_current='data/spac_list_current.csv',
                                                       file_path_past='data/spac_list_past.csv',
                                                       write=False)

# bulk save price data for symbols in spac lists (due to API limits)...no need to run if already saved
# run_bulk_save_prices(spac_list_current, spac_list_past, warrants=False
# run_bulk_save_prices(spac_list_current, spac_list_past, warrants=True)

In [86]:
# df_returns_past = agg_spac_returns(spac_list_past)
df_returns_current = agg_spac_returns(spac_list_current)

index: 0
ACAM
Acamar Partners Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1759008&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-05-09
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-02-20,8-K,8-k 1 tm209532d1_8k.htm form 8-k united state...,0,0,0.0,0.0,-0.0,-0.0
1,2019-04-12,8-K,8-k 1 tv518793_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
2,2019-04-10,8-K,8-k 1 tv518539_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
3,2019-03-04,8-K,8-k 1 tv515277_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
4,2019-02-26,8-K,8-k 1 tv514540_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 1
ACTT
Whole Earth Brands, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753706&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-05-14
price data max date: 2020-06-24

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k12b/a 1 tm2023499-2_8k12ba.htm 8-k12b/a un...,0,0,NaN,NaN,NaN,NaN
1,2020-06-24,8-K,8-k12b 1 tm2023499d1_8k.htm form 8-k12b unite...,0,0,NaN,NaN,NaN,NaN
2,2020-06-15,8-K,8-k 1 tm2022707d1_8k.htm form 8-k united stat...,0,0,0.01,0.04,0.00,0.05
3,2020-06-15,8-K,8-k 1 tm2022614d1_8k.htm form 8-k united stat...,0,0,0.01,0.04,0.00,0.05
4,2020-06-08,8-K,8-k 1 tm2022016d1_8k.htm form 8-k united stat...,0,0,0.00,0.00,0.01,0.03
5,2020-05-08,8-K,8-k 1 tm2019220d1_8k.htm form 8-k united stat...,0,0,0.01,0.01,0.01,0.01
6,2020-03-27,8-K,8-k 1 ea120112actii_8k.htm united states secu...,0,0,0.01,0.00,-0.00,0.00
7,2020-02-12,8-K,8-k 1 tv538156_8k.htm 8-k united states secur...,0,0,0.02,0.01,0.01,0.01
8,2020-01-10,8-K,8-k 1 tv536223_8k.htm form 8-k united states ...,0,0,0.00,0.00,0.00,-0.00
9,2019-12-19,8-K,8-k 1 tv535070_8k.htm form 8-k united states ...,0,0,0.02,0.01,0.01,0.01
10,2019-05-13,8-K,8-k 1 f8k051319_act2global.htm current report...,0,0,NaN,NaN,NaN,NaN
11,2019-05-06,8-K,8-k 1 f8k043019_act2global.htm current report...,0,0,NaN,NaN,NaN,NaN
12,2019-05-01,8-K,8-k 1 f8k042519_act2global.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 2
ALAC
Alberton Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1748621&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-11-21
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-23,8-K,8-k 1 ea121016-8k_alberton.htm current report...,0,0,0.00,0.01,0.02,0.01
1,2020-04-17,8-K,8-k 1 ea120803-8k_alberton.htm current report...,1,0,-0.01,-0.00,-0.00,0.01
2,2020-03-30,8-K,8-k 1 ea0120382-8k_albertonacqu.htm current r...,0,0,0.01,0.01,0.01,0.01
3,2020-03-11,8-K,8-k 1 ea119578-8k_albertonacq.htm current rep...,0,0,-0.00,-0.01,-0.02,-0.01
4,2020-03-03,8-K,8-k 1 ea119443-8k_albertonacquis.htm form 8-k...,0,0,-0.00,-0.00,-0.00,-0.00
5,2020-01-23,8-K,8-k 1 f8k012320_albertonacq.htm current repor...,0,0,-0.00,-0.00,0.00,0.01
6,2020-01-21,8-K,8-k 1 f8k012120_albertonacq.htm current repor...,0,0,0.00,0.00,0.00,0.01
7,2019-12-30,8-K,8-k 1 f8k123019_albertonacq.htm current repor...,0,0,0.00,0.00,0.00,0.00
8,2019-12-03,8-K,8-k 1 f8k120319_albertonacqui.htm current rep...,0,0,0.00,0.00,0.00,0.00
9,2019-10-11,8-K,8-k/a 1 f8k101119a_albertonacq.htm form 8-k/a...,0,0,0.00,0.00,0.00,0.00
10,2019-10-18,8-K,8-k 1 f8k101819_alberton.htm current report u...,1,0,0.00,0.00,0.00,0.01
11,2019-10-11,8-K,8-k 1 f8k101119_albertonacq.htm current repor...,0,0,0.00,0.00,0.00,0.00
12,2019-09-18,8-K,8-k 1 f8k091819_alberton.htm current report u...,1,0,0.00,0.00,0.00,0.00
13,2018-11-20,8-K,8-k 1 f8k112018_albertonacqui.htm current rep...,0,0,NaN,NaN,NaN,NaN
14,2018-10-26,8-K,8-k 1 f8k102618_albertonacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
15,2018-10-23,8-K,8-k 1 f8k102318_albertonacquisit.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 3
ALUS
Alussa Energy Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1781115&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-10
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-07,8-K,8-k 1 ea123898-8k_alussaenergy.htm current re...,0,0,-0.0,0.01,NaN,NaN
1,2020-01-07,8-K,8-k 1 f8k010720_alussaenergy.htm current repo...,0,0,NaN,NaN,NaN,NaN
2,2019-12-05,8-K,8-k 1 f8k112919_alussaenergy.htm current repo...,0,0,NaN,NaN,NaN,NaN
3,2019-11-29,8-K,8-k 1 f8k112519_alussaenergy.htm current repo...,0,0,NaN,NaN,NaN,NaN

index: 4
AMCI
AMCI Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1744494&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-01-23
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-21,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,0.01,0.01,0.01,0.00
1,2020-05-15,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,-0.00,-0.00,0.00,0.00
2,2020-05-07,8-K,8-k 1 form8k.htm 8-k united states securities...,1,0,0.00,0.00,0.00,0.01
3,2019-12-16,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,-0.00,0.00,0.00,0.00
4,2019-11-19,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,0.00,0.00,-0.00,0.00
5,2018-12-21,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
6,2018-11-30,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
7,2018-11-27,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
8,2018-11-20,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN

index: 5
AMHC
Amplitude Healthcare Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1788028&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-10
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-03,8-K,8-k 1 f8k010320_amplitude.htm current report ...,1,0,NaN,NaN,NaN,NaN
1,2019-11-27,8-K,8-k 1 f8k112219_amplitudehealth.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2019-11-25,8-K,8-k 1 f8k1119_amplitude.htm current report un...,0,0,NaN,NaN,NaN,NaN

index: 6
ANDA
Andina Acquisition Corp. III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1691936&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-01-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-04-04,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.0,-0.0,0.0,0.0
1,2019-03-04,8-K,8-k 1 form8-k.htm united states securities an...,0,0,NaN,NaN,NaN,NaN
2,2019-01-31,8-K,8-k 1 form8-k.htm united states securities an...,0,0,NaN,NaN,NaN,NaN
3,2019-01-28,8-K,8-k/a 1 form8-ka.htm united states securities...,0,0,NaN,NaN,NaN,NaN
4,2019-01-28,8-K,8-k 1 form8-k.htm united states securities an...,0,0,NaN,NaN,NaN,NaN

index: 7
APXT
Apex Technology Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1777921&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-11-05
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-10-31,8-K,8-k 1 f8k103119_apextech.htm form 8-k united ...,0,0,NaN,NaN,NaN,NaN
1,2019-09-25,8-K,8-k 1 f8k091919_apextech.htm current report u...,0,0,NaN,NaN,NaN,NaN
2,2019-09-20,8-K,8-k 1 f8k091619_apextechnology.htm current re...,0,0,NaN,NaN,NaN,NaN

index: 8
ARYA
ARYA SCIENCES ACQUISITION CORP.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1746037&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-12-12
price data max date: 2020-07-01

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-29,8-K,8-k 1 d948050d8k.htm 8-k 8-k united states se...,0,1,-0.09,NaN,NaN,NaN
1,2020-06-22,8-K,8-k 1 d949880d8k.htm 8-k 8-k united states se...,0,1,0.06,0.00,0.01,-0.04
2,2020-04-15,8-K,8-k 1 d904618d8k.htm 8-k 8-k united states se...,0,0,-0.01,0.01,0.02,0.02
3,2020-03-18,8-K,8-k 1 d898588d8k.htm 8-k 8-k united states se...,0,1,0.00,-0.02,0.00,0.01
4,2020-03-17,8-K,8-k 1 d896475d8k.htm 8-k 8-k united states se...,0,1,-0.04,-0.04,-0.05,-0.03
5,2020-01-08,8-K,8-k 1 d845021d8k.htm 8-k 8-k united states se...,0,0,0.01,0.01,0.00,0.01
6,2018-10-30,8-K,8-k 1 f8k103018_aryascien.htm current report ...,0,0,NaN,NaN,NaN,NaN
7,2018-10-16,8-K,8-k 1 f8k1018b_aryasciences.htm current repor...,0,0,NaN,NaN,NaN,NaN
8,2018-10-11,8-K,8-k 1 f8k1018_aryasciences.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 9
BRPA
Big Rock Partners Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1719406&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-01-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-23,8-K,8-k 1 brpa_8k.htm current report brpa_8k unit...,0,0,0.10,0.10,0.10,0.08
1,2020-02-11,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,-0.00,0.00,-0.00,-0.00
2,2020-02-07,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.00,0.00,0.00,0.00
3,2019-11-21,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.00,-0.00,-0.01,-0.01
4,2019-08-21,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.00,-0.01,-0.01,-0.01
5,2019-08-09,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.00,0.01,0.01,0.01
6,2019-07-17,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.01,0.01,0.01,0.01
7,2019-06-20,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.00,0.00,0.01,0.01
8,2019-05-21,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.00,0.02,0.00,0.00
9,2019-02-21,8-K,8-k 1 brpa_8k.htm curren report blueprint uni...,0,0,NaN,NaN,NaN,NaN
10,2019-01-07,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,0.00,0.00,0.00,0.01
11,2018-11-17,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
12,2017-11-28,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
13,2017-11-22,8-K,8-k 1 brpa_8k.htm current report untitled doc...,0,0,NaN,NaN,NaN,NaN

index: 10
CCAC
CITIC Capital Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1794621&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-04-23
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-07,8-K,8-k 1 d925681d8k.htm form 8-k form 8-k united...,0,0,0.0,0.0,0.0,-0.01
1,2020-03-30,8-K,8-k 1 d888317d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
2,2020-02-13,8-K,8-k 1 d426100d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
3,2020-02-13,8-K,8-k 1 d886016d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN

index: 11
CCH
Collier Creek Holdings
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1739566&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-11-26
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k 1 tm2023289d1_8k.htm form 8-k united stat...,0,1,-0.05,-0.06,-0.06,-0.06
1,2020-06-05,8-K,8-k 1 tm2021949d1_8k.htm form 8-k united stat...,0,1,0.08,0.19,0.17,0.16
2,2020-06-05,8-K,8-k 1 tm2021873d1_8k.htm 8-k united states se...,0,1,0.08,0.19,0.17,0.16
3,2018-11-21,8-K,8-k 1 tv507757_8-k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
4,2018-11-15,8-K,8-k 1 tv507339_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
5,2018-10-16,8-K,8-k 1 tv504874_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
6,2018-10-10,8-K,8-k 1 tv504324_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 12
CCX
Churchill Capital Corp II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1774675&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-07-26
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-26,8-K,8-k 1 eh2000886_8k.htm form 8-k united states...,0,0,0.01,0.04,0.02,0.02
1,2019-10-23,8-K,8-k 1 eh1901174_8k.htm form 8-k united states...,0,0,-0.00,0.00,0.00,0.01
2,2019-07-23,8-K,8-k 1 eh1900925_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
3,2019-07-01,8-K,8-k 1 tv524862_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
4,2019-06-26,8-K,8-k 1 tv524635_8k.htm form 8-k united states ...,1,0,NaN,NaN,NaN,NaN

index: 13
CCXX
Churchill Capital Corp III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1793229&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-04-03
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-13,8-K,8-k 1 tm2024610-1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
1,2020-04-21,8-K,8-k 1 eh2000665_8k.htm form 8-k united states...,0,0,0.01,0.0,0.01,0.02
2,2020-04-02,8-K,8-k 1 eh2000409_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
3,2020-02-19,8-K,8-k 1 tm209526d1_8k.htm form 8-k united state...,0,0,NaN,NaN,NaN,NaN
4,2020-02-13,8-K,8-k 1 tm209255d1_8k.htm form 8-k united state...,1,0,NaN,NaN,NaN,NaN

index: 14
CFFA
CF Finance Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1728041&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-02-05
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-23,8-K,8-k 1 d949956d8k.htm 8-k 8-k united states se...,0,0,0.01,-0.00,0.03,0.03
1,2020-06-18,8-K,8-k 1 d948882d8k.htm 8-k 8-k united states se...,0,0,0.00,0.00,0.02,0.02
2,2020-06-15,8-K,8-k 1 d937909d8k.htm 8-k 8-k united states se...,0,0,-0.00,0.02,0.02,0.03
3,2020-06-05,8-K,8-k 1 d927069d8k.htm 8-k 8-k united states se...,0,0,0.01,0.01,0.01,0.01
4,2020-01-06,8-K,8-k 1 cffa-8k_20200106.htm 8-k cffa-8k_202001...,0,0,0.00,0.00,0.00,0.00
5,2019-12-23,8-K,8-k 1 d671947d8k.htm 8-k 8-k united states se...,0,0,0.00,0.00,0.00,0.00
6,2019-11-22,8-K,8-k 1 cffa-8k_20191122.htm 8-k cffa-8k_201911...,0,0,0.00,0.00,0.00,0.00
7,2019-03-12,8-K,8-k 1 s116666_8k.htm form 8-k united states s...,0,0,0.00,0.01,0.01,0.01
8,2019-02-04,8-K,8-k 1 s115845_8k.htm form 8-k united states s...,0,0,NaN,NaN,NaN,NaN
9,2019-01-07,8-K,8-k 1 s115238_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
10,2018-12-21,8-K,8-k 1 s114877_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
11,2018-12-17,8-K,8-k 1 s114716_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN

index: 15
CGRO
Collective Growth Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1799611&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-29
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-17,8-K,8-k 1 ea123128-8k_collectivegrowth.htm curren...,0,0,NaN,NaN,NaN,NaN
1,2020-05-05,8-K,8-k 1 ea121409-8k_collectivegrowth.htm curren...,0,0,NaN,NaN,NaN,NaN
2,2020-04-30,8-K,8-k 1 ea121317-8k_collectivegrowth.htm curren...,0,0,NaN,NaN,NaN,NaN

index: 16
CHAQ
Chardan Healthcare Acquisition 2 Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1799850&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-22
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-05,8-K,8-k 1 ea122844-8k_charden.htm form 8-k united...,0,0,NaN,NaN,NaN,NaN
1,2020-04-28,8-K,8-k 1 ea121272-8k_chardanhealth.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2020-04-23,8-K,8-k 1 ea121108-8k_chardanhealth.htm current r...,0,0,NaN,NaN,NaN,NaN

index: 17
CHPM
CHP Merger Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1785041&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-10
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-09,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
1,2019-11-26,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
2,2019-11-21,8-K,8-k 1 nt10004133x14_8k.htm 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 18
CIIC
CIIG Merger Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1789760&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-02-03
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-31,8-K,8-k 1 f8k013120_ciigmergercorp.htm current re...,0,0,NaN,NaN,NaN,NaN
1,2019-12-23,8-K,8-k 1 f8k121719_ciigmergercorp.htm current re...,0,0,NaN,NaN,NaN,NaN
2,2019-12-17,8-K,8-k 1 f8k121219_ciigmergercorp.htm current re...,0,0,NaN,NaN,NaN,NaN

index: 19
CPAA
Conyers Park II Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1776661&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-09-09
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-09-06,8-K,8-k 1 f8k090619_conyerspark2acq.htm current r...,0,0,NaN,NaN,NaN,NaN
1,2019-07-22,8-K,8-k 1 f8k072219_conyerspark2.htm current repo...,0,0,NaN,NaN,NaN,NaN
2,2019-07-17,8-K,8-k 1 f8k0719_conyerspark2.htm current report...,0,0,NaN,NaN,NaN,NaN
3,2019-07-18,8-K,8-k 1 f8k071819_conyerspark2.htm current repo...,0,0,NaN,NaN,NaN,NaN

index: 20
CRSA
Crescent Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1723648&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-04-18
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k 1 d943994d8k.htm 8-k 8-k united states se...,0,0,-0.11,-0.12,-0.13,-0.13
1,2020-06-24,8-K,8-k 1 d948881d8k.htm 8-k 8-k united states se...,0,0,-0.11,-0.12,-0.13,-0.13
2,2020-02-25,8-K,8-k 1 d872615d8k.htm 8-k 8-k united states se...,0,0,0.00,-0.00,-0.01,-0.01
3,2019-10-09,8-K,8-k 1 crsa-8k_20191009.htm 8-k crsa-8k_201910...,0,0,0.00,0.00,0.00,0.00
4,2019-04-15,8-K,8-k 1 d663809d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
5,2019-03-18,8-K,8-k 1 d725787d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
6,2019-03-07,8-K,8-k 1 d720780d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 21
DFNS
LGL Systems Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1777946&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-03-23
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-24,8-K,8-k 1 ea119958-8k_lglsystems.htm current repo...,0,0,0.0,0.17,0.17,0.17
1,2020-02-28,8-K,8-k 1 ea119156-8k_lglsystems.htm current repo...,0,0,NaN,NaN,NaN,NaN
2,2019-12-20,8-K,8-k 1 f8k122319b_lglsystemsacqu.htm current r...,0,0,NaN,NaN,NaN,NaN
3,2019-11-12,8-K,8-k 1 f8k111219_lglsystemsacq.htm current rep...,0,0,NaN,NaN,NaN,NaN
4,2019-11-06,8-K,8-k 1 f8k110719_lglsystems.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 22
DMYT
dMY Technology Group, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1793659&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-04-23
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-07,8-K,8-k 1 d913594d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
1,2020-02-25,8-K,8-k 1 d866848d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
2,2020-02-25,8-K,8-k 1 d844969d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN

index: 23
DPHC
DiamondPeak Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1759546&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-04-17
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-04-12,8-K,8-k 1 f8k041219_diamondpeak.htm current repor...,0,0,NaN,NaN,NaN,NaN
1,2019-03-22,8-K,8-k 1 f8k031819_diamondpeak.htm current repor...,0,0,NaN,NaN,NaN,NaN
2,2019-03-08,8-K,8-k 1 f8k030419_diamondpeak.htm current repor...,0,0,NaN,NaN,NaN,NaN
3,2019-03-04,8-K,8-k 1 f8k022719_diamondpeak.htm current repor...,0,0,NaN,NaN,NaN,NaN

index: 24
ESSC
East Stone Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1760683&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-03-20
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-13,8-K,8-k 1 ea119618-8k_eaststone.htm current repor...,0,0,NaN,NaN,NaN,NaN
1,2020-03-04,8-K,8-k 1 ea119309-8k_eaststone.htm current repor...,0,0,NaN,NaN,NaN,NaN
2,2020-02-24,8-K,8-k 1 ea119133-8k_eaststone.htm current repor...,0,0,NaN,NaN,NaN,NaN
3,2020-02-19,8-K,8-k 1 f8k021920_eaststoneacq.htm current repo...,0,0,NaN,NaN,NaN,NaN

index: 25
EXPC
Experience Investment Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1779128&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-11-05
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-10-30,8-K,8-k 1 a19-21496_18k.htm 8-k united states sec...,0,0,NaN,NaN,NaN,NaN
1,2019-09-23,8-K,8-k 1 a19-11931_108k.htm 8-k united states se...,0,0,NaN,NaN,NaN,NaN
2,2019-09-18,8-K,8-k 1 a19-11931_88k.htm 8-k united states sec...,0,0,NaN,NaN,NaN,NaN

index: 26
FEAC
Flying Eagle Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1801661&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-04-27
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-08,8-K,8-k 1 tm2018914d1_8k.htm form 8-k united stat...,0,0,0.01,0.03,0.03,0.04
1,2020-04-22,8-K,8-k 1 tm2016563d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2020-03-10,8-K,8-k 1 tm2012698d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
3,2020-03-10,8-K,8-k 1 tm2012109-1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN

index: 27
FMCI
Forum Merger II Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1741231&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-09-12
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-22,8-K,8-k 1 ea123288-8k_forummerger2.htm current re...,0,0,-0.06,0.03,-0.01,-0.03
1,2020-06-11,8-K,8-k 1 ea122974-8k_forummerger2.htm current re...,0,0,-0.06,0.23,0.31,0.27
2,2020-06-12,8-K,8-k 1 ea122985-8k_forummerger2.htm current re...,0,0,0.05,0.31,0.23,0.16
3,2020-06-08,8-K,8-k 1 ea122807-8k_forummerger2.htm current re...,0,0,0.15,0.06,0.17,0.47
4,2020-06-03,8-K,8-k 1 ea122609-8k_forummerger2.htm current re...,1,0,0.06,0.22,0.26,0.12
5,2020-05-13,8-K,8-k 1 ea121761-8k_forummergii.htm current rep...,1,0,0.04,0.03,0.05,0.04
6,2020-01-07,8-K,8-k 1 f8k010720_forummerger2.htm current repo...,0,0,0.00,0.00,0.00,0.01
7,2020-01-02,8-K,8-k 1 f8k010220_forummerger2.htm current repo...,0,0,0.00,0.00,0.00,0.00
8,2018-09-11,8-K,8-k 1 f8k091118_forummerger2.htm current repo...,0,0,NaN,NaN,NaN,NaN
9,2018-08-13,8-K,8-k 1 f8k080718_forummerger2.htm current repo...,0,0,NaN,NaN,NaN,NaN
10,2018-08-08,8-K,8-k 1 f8k0818_forummerger2.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 28
FPAC
Far Point Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1735858&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-06-27
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-26,8-K,8-k 1 d942597d8k.htm 8-k 8-k united states se...,0,0,-0.00,-0.00,-0.00,-0.00
1,2020-05-27,8-K,8-k 1 d936610d8k.htm 8-k 8-k united states se...,0,0,-0.00,-0.00,-0.00,-0.00
2,2020-05-07,8-K,8-k 1 d849228d8k.htm 8-k 8-k united states se...,0,0,-0.00,-0.00,-0.00,-0.00
3,2020-02-24,8-K,8-k 1 d893392d8k.htm 8-k 8-k united states se...,0,0,-0.00,-0.00,-0.00,-0.01
4,2020-02-03,8-K,8-k 1 d881776d8k.htm 8-k 8-k united states se...,0,0,-0.00,0.01,-0.01,0.01
5,2020-01-29,8-K,8-k 1 d869902d8k.htm 8-k 8-k united states se...,0,0,-0.01,-0.02,-0.00,-0.01
6,2020-01-16,8-K,8-k/a 1 d861816d8ka.htm 8-k/a 8-k/a united st...,0,0,0.02,-0.01,-0.04,-0.02
7,2020-01-16,8-K,8-k 1 d869321d8k.htm 8-k 8-k united states se...,0,0,0.02,-0.01,-0.04,-0.02
8,2020-01-16,8-K,8-k 1 d867700d8k.htm 8-k 8-k united states se...,0,0,0.02,-0.01,-0.04,-0.02
9,2020-01-16,8-K,8-k 1 d867700d8k.htm 8-k 8-k united states se...,0,0,0.02,-0.01,-0.04,-0.02
10,2018-06-25,8-K,8-k 1 d604156d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
11,2018-06-20,8-K,8-k 1 d770918d8k.htm 8-k 8-k united states se...,1,0,NaN,NaN,NaN,NaN
12,2018-06-15,8-K,8-k 1 d591135d8k.htm form 8-k form 8-k united...,1,0,NaN,NaN,NaN,NaN

index: 29
FSRV
FinServ Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1785424&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-12-30
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-19,8-K,8-k 1 f8k121919_finserv.htm current report un...,0,0,NaN,NaN,NaN,NaN
1,2019-11-12,8-K,8-k 1 f8k110519_finservacq.htm current report...,0,0,NaN,NaN,NaN,NaN
2,2019-11-06,8-K,8-k 1 f8k1119_finservacquisition.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 30
FTAC
Fintech Acquisition Corp. III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1729756&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-01-18
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-17,8-K,8-k 1 f8k121719_fintechacquisition.htm curren...,0,0,-0.0,-0.0,0.0,0.0
1,2018-11-20,8-K,8-k 1 f8k112018_fintechacqcorp3.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2018-11-15,8-K,8-k 1 f8k111518_fintechacq3.htm current repor...,0,0,NaN,NaN,NaN,NaN

index: 31
FVAC
Fortress Value Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1801368&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-22
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-22,8-K,8-k 1 d945943d8k.htm 8-k 8-k united states se...,0,0,0.0,0.0,0.01,0.01
1,2020-06-17,8-K,8-k 1 d934710d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
2,2020-05-04,8-K,8-k 1 d864252d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
3,2020-05-04,8-K,8-k 1 d925358d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 32
GHIV
Gores Holdings IV, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1783398&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-03-24
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-13,8-K,8-k 1 d858892d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
1,2020-01-28,8-K,8-k 1 d861569d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
2,2020-01-23,8-K,8-k 1 d786889d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 33
GIX
GigCapital2, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1770141&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-07-01
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-04,8-K,8-k 1 d946138d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
1,2020-06-30,8-K,8-k 1 d12438d8k.htm 8-k 8-k united states sec...,0,0,-0.00,-0.00,-0.00,0.02
2,2020-03-30,8-K,8-k 1 d908418d8k.htm 8-k 8-k united states se...,0,0,0.02,0.02,0.03,0.02
3,2019-08-06,8-K,8-k 1 d782167d8k.htm 8-k 8-k united states se...,0,0,0.00,0.00,0.00,0.01
4,2019-06-26,8-K,8-k 1 d751985d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
5,2019-06-10,8-K,8-k 1 d724857d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
6,2019-06-13,8-K,8-k 1 d736276d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
7,2019-06-05,8-K,8-k 1 d773677d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
8,2019-06-05,8-K,8-k 1 d761373d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 34
GLEO
Galileo Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1784851&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-11-14
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-11-12,8-K,8-k 1 tm1922372d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
1,2019-10-28,8-K,8-k 1 tm1921010d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2019-10-23,8-K,8-k 1 tm1920753d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN

index: 35
GMHI
Gores Metropoulos, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1758057&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-03-25
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-03-22,8-K,8-k 1 d695545d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
1,2019-02-05,8-K,8-k 1 d699132d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
2,2019-01-31,8-K,8-k 1 d678965d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 36
GPAQ
Gordon Pointe Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1708176&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-03-12
price data max date: 2020-07-01

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-01,8-K,8-k 1 ea123926-8k_halloffame.htm current repo...,1,0,NaN,NaN,NaN,NaN
1,2020-07-01,8-K,8-k12b 1 ea123945-8k12b_halloffame.htm curren...,1,0,NaN,NaN,NaN,NaN
2,2020-06-30,8-K,8-k 1 ea123486-8k_gordonpointe.htm current re...,0,0,-0.14,NaN,NaN,NaN
3,2020-06-12,8-K,8-k 1 ea123083-8k_gordonpointe.htm current re...,0,0,-0.03,0.23,0.06,0.01
4,2020-06-12,8-K,8-k 1 ea123006-8k_gordonpointe.htm current re...,0,0,-0.03,0.23,0.06,0.01
5,2020-06-05,8-K,8-k 1 ea122752-8k_gordonpointeacq.htm current...,0,0,0.01,0.11,0.03,0.09
6,2020-05-29,8-K,8-k 1 ea122496-8k_gordonpointe.htm current re...,0,0,0.02,0.01,0.02,0.02
7,2020-05-22,8-K,8-k 1 ea122430-8k_gordonpointe.htm current re...,0,0,0.00,0.00,-0.01,-0.02
8,2020-05-14,8-K,8-k 1 ea122063-8k_gordonpointe.htm current re...,0,0,0.00,0.00,0.00,0.00
9,2020-05-11,8-K,8-k 1 ea121637-8k_gordonpointe.htm current re...,0,0,0.00,0.00,0.00,0.00
10,2020-05-05,8-K,8-k 1 ea121563-8k_gordonpointe.htm current re...,0,0,0.00,0.00,0.03,0.03
11,2020-04-29,8-K,8-k 1 ea121204-8k_gordonpointe.htm current re...,0,0,0.01,0.01,0.01,0.01
12,2020-04-13,8-K,8-k 1 ea120647-8k_gordonpoint.htm current rep...,0,0,0.00,0.01,0.01,0.03
13,2020-03-30,8-K,8-k 1 ea120326-8k_gordonpointe.htm current re...,0,0,-0.00,0.06,0.05,0.05
14,2020-03-27,8-K,8-k 1 ea120114-8k_gordonpointe.htm current re...,0,0,0.00,0.00,0.05,0.06
15,2020-03-20,8-K,8-k 1 ea120030-8k_gordon.htm form 8-k united ...,0,0,-0.01,0.02,-0.02,-0.02
16,2020-03-10,8-K,8-k 1 ea119679-8k_gordonpointe.htm current re...,0,0,0.00,-0.01,-0.01,-0.02
17,2020-02-27,8-K,8-k 1 ea119112-8k_gordonpointe.htm current re...,0,0,0.00,0.01,0.01,0.00
18,2020-02-21,8-K,8-k 1 f8k022120_gordonpointe.htm form 8-k uni...,0,0,0.00,0.00,0.00,0.01
19,2020-01-24,8-K,8-k 1 f8k012420_gordonpointe.htm current repo...,0,0,0.01,0.01,0.01,0.01
20,2020-01-08,8-K,8-k 1 f8k010820_gordonpointe.htm current repo...,0,0,0.00,0.00,0.00,0.00
21,2020-01-08,8-K,8-k 1 f8k010820_gordonpointe.htm current repo...,0,0,0.00,0.00,0.00,0.00
22,2019-12-26,8-K,8-k 1 f8k122619_gordonpointe.htm form 8-k uni...,0,0,0.00,0.01,0.00,0.00
23,2019-11-27,8-K,8-k 1 f8k112719_gordonpointe.htm current repo...,0,0,0.00,0.00,0.00,0.00
24,2019-11-04,8-K,8-k 1 f8k110419_gordonpointeacqu.htm current ...,0,0,0.00,0.00,-0.00,0.00
25,2019-10-29,8-K,8-k 1 f8k102919_gordonpointe.htm form 8-k uni...,0,0,0.00,0.00,0.00,0.00
26,2019-09-26,8-K,8-k 1 f8k092619_gordonpointe.htm current repo...,0,0,0.00,0.00,0.00,0.00
27,2019-09-16,8-K,8-k 1 f8k091619_gordonpointe.htm current repo...,0,0,0.01,0.01,0.00,0.01
28,2019-08-01,8-K,8-k 1 f8k080119_gordonpointe.htm current repo...,0,0,0.00,0.00,0.00,0.00
29,2019-07-26,8-K,8-k 1 f8k072519_gordonpointe.htm form 8-k uni...,0,0,0.00,0.00,0.00,0.00
30,2018-03-09,8-K,8-k 1 f8k030918_gordonpointe.htm current repo...,0,0,NaN,NaN,NaN,NaN
31,2018-01-30,8-K,8-k 1 f8k013018_gordonpointeacq.htm current r...,0,0,NaN,NaN,NaN,NaN
32,2018-01-24,8-K,8-k 1 f8k012418_gordonpointe.htm current repo...,0,0,NaN,NaN,NaN,NaN

index: 37
GRAF
Graf Industrial Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1745317&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-10-26
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-02,8-K,8-k 1 tm2024030d3_8k.htm 8-k united states se...,0,0,0.09,-0.06,0.11,NaN
1,2020-07-02,8-K,8-k 1 tm2024030-1_8k.htm form 8-k united stat...,0,0,0.09,-0.06,0.11,NaN
2,2020-04-23,8-K,8-k 1 tm2016782d1_8k.htm form 8-k united stat...,0,0,0.01,-0.00,0.00,0.0
3,2020-04-16,8-K,8-k 1 tm2016160d1_8k.htm form 8-k united stat...,0,0,0.00,0.00,0.01,0.0
4,2020-04-08,8-K,8-k 1 tm2015448d1_8k.htm form 8-k united stat...,0,0,0.00,0.00,-0.00,0.0
5,2019-10-17,8-K,8-k 1 tm1920819-1_8k.htm form 8-k united stat...,0,0,0.00,0.00,-0.00,-0.0
6,2018-10-31,8-K,8-k 1 tv505919_8k.htm form 8-k united states ...,0,0,0.00,0.00,0.00,0.0
7,2018-10-18,8-K,8-k 1 tv505292_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
8,2018-10-23,8-K,8-k 1 tv505334_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
9,2018-10-18,8-K,8-k 1 tv505017_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 38
GRNV
GreenVision Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1788841&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-12-09
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-04,8-K,8-k 1 f8k120419_greenvision.htm current repor...,0,0,NaN,NaN,NaN,NaN
1,2019-11-21,8-K,8-k 1 f8k112119_greenvisionacq.htm current re...,0,0,NaN,NaN,NaN,NaN
2,2019-11-18,8-K,8-k 1 f8k111819_greenvision.htm current repor...,0,0,NaN,NaN,NaN,NaN

index: 39
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 40
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 41
HCAC
Hennessy Capital Acquisition Corp IV
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1750153&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-01-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-04-15,8-K,8-k 1 f8k041519_hennessycapital4.htm current ...,0,0,NaN,NaN,NaN,NaN
1,2019-03-11,8-K,8-k 1 f8k030519_hennessycapacq4.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2019-03-06,8-K,8-k 1 f8k022819_hennessycapital4.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 42
HCCH
HL Acquisitions Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1736874&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-07-18
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-26,8-K,8-k 1 ea124130-8k_hlacquisitions.htm current ...,0,1,0.17,0.07,0.15,0.06
1,2020-07-02,8-K,8-k 1 ea123766-8khlacquisitions.htm current r...,0,0,0.03,-0.05,-0.02,NaN
2,2020-06-24,8-K,8-k 1 ea123386-8k_hlacquisition.htm current r...,0,0,-0.02,0.17,0.07,0.14
3,2020-06-09,8-K,8-k 1 ea123011-8k_hlacquisition.htm form 8-k ...,0,1,0.03,-0.00,0.03,0.20
4,2020-06-06,8-K,8-k/a 1 ea122855-8ka1_hlacquisition.htm amend...,0,1,NaN,NaN,NaN,NaN
5,2020-06-06,8-K,8-k 1 ea122769-8k_hlacquisitions.htm current ...,0,1,NaN,NaN,NaN,NaN
6,2020-03-24,8-K,8-k 1 ea121312-8k_hlacquisitions.htm current ...,0,0,0.00,0.01,0.01,0.02
7,2020-03-30,8-K,8-k 1 ea120252-8k_hlacquisitions.htm current ...,0,0,0.00,0.00,0.00,0.02
8,2020-02-27,8-K,8-k 1 ea119181-8k_hlacquisitions.htm current ...,0,0,-0.01,-0.00,-0.00,-0.00
9,2020-02-14,8-K,8-k 1 f8k021420_hlacquisitions.htm current re...,0,0,-0.00,0.01,0.01,0.01
10,2020-01-29,8-K,8-k 1 f8k012920_hlacquisitionscorp.htm curren...,0,0,-0.01,-0.00,-0.00,-0.00
11,2020-01-02,8-K,8-k 1 f8k010220_hlacquisitions.htm current re...,0,0,-0.00,-0.00,-0.00,0.01
12,2019-12-17,8-K,8-k 1 f8k121719_hlacquisitions.htm current re...,0,0,0.00,0.00,0.00,0.00
13,2019-07-02,8-K,8-k 1 f8k070219_hlacquisitionscorp.htm curren...,0,0,0.00,0.00,0.00,0.00
14,2018-07-16,8-K,8-k 1 f8k071618_hlacquisitionscorp.htm curren...,0,0,NaN,NaN,NaN,NaN
15,2018-07-02,8-K,8-k 1 f8k070218b_hlacquisition.htm current re...,0,0,NaN,NaN,NaN,NaN
16,2018-06-27,8-K,8-k 1 f8k062718_hlacquisition.htm current rep...,0,0,NaN,NaN,NaN,NaN

index: 43
HCCO
Healthcare Merger Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1791091&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-28
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-24,8-K,8-k 1 f8k012420_healthcare.htm current report...,0,0,NaN,NaN,NaN,NaN
1,2019-12-23,8-K,8-k 1 f8k121719_healthcaremerger.htm current ...,0,0,NaN,NaN,NaN,NaN
2,2019-12-17,8-K,8-k 1 f8k121219_healthcaremerger.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 44
HECCU
Hudson Executive Investment Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1803901&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-09
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-11,8-K,8-k 1 d872303d8k.htm form 8-k form 8-k united...,0,0,-0.01,-0.01,-0.01,-0.01
1,2020-06-11,8-K,8-k 1 d937996d8k.htm 8-k 8-k united states se...,0,0,-0.01,-0.01,-0.01,-0.01

index: 45
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 46
INSU
Insurance Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1762322&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-06-04
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-13,8-K,8-k 1 ea124096-8k_insuranceacq.htm current re...,0,0,NaN,NaN,NaN,NaN
1,2020-06-29,8-K,8-k/a 1 ea123836-8ka1_insuranceacq.htm amendm...,0,0,-0.13,-0.16,-0.16,-0.19
2,2020-06-29,8-K,8-k 1 ea123538-8k_insuranceacqu.htm current r...,0,0,-0.13,-0.16,-0.16,-0.19
3,2020-05-21,8-K,8-k 1 ea122255-8k_insuranceacq.htm current re...,0,0,0.00,0.00,0.00,0.00
4,2019-10-24,8-K,8-k 1 f8k102419_insuranceacquis.htm current r...,0,0,-0.00,-0.00,-0.00,-0.00
5,2019-03-22,8-K,8-k 1 f8k032219_insuranceacq.htm current repo...,0,0,NaN,NaN,NaN,NaN
6,2019-03-19,8-K,8-k 1 f8k031919_insuranceacq.htm current repo...,0,0,NaN,NaN,NaN,NaN

index: 47
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 48
IPOC
Social Capital Hedosophia Holdings Corp. III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1801170&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-12
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-24,8-K,8-k 1 tm2018033d1_8k.htm 8-k united states se...,0,0,NaN,NaN,NaN,NaN
1,2020-04-24,8-K,8-k 1 tm2016603d2_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN

index: 49
IPV
InterPrivate Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1789029&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-02-27
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-01,8-K,8-k 1 ea120340-8k_interprivateacq.htm current...,0,0,0.0,0.01,0.01,0.01
1,2020-02-24,8-K,8-k 1 f8k022420_interprivateacqui.htm current...,0,0,NaN,NaN,NaN,NaN
2,2020-02-06,8-K,8-k 1 f8k020620_interprivate.htm current repo...,0,0,NaN,NaN,NaN,NaN
3,2020-02-03,8-K,8-k 1 f8k020320_interprivateacq.htm current r...,0,0,NaN,NaN,NaN,NaN

index: 50
JFK
8i Enterprises Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753648&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-05-16
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,0.01,-0.00
1,2020-06-15,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.05,0.04,0.05,0.04
2,2020-05-21,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.02,0.00,0.00,0.00
3,2020-05-11,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.04,-0.01,-0.01,-0.01
4,2020-05-06,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,-0.02,-0.01
5,2020-04-16,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
6,2020-04-02,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,-0.00,0.00
7,2020-03-26,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.02,-0.01,-0.01
8,2020-03-20,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.11,0.12,0.14,0.11
9,2020-03-19,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.28,-0.02,-0.00,0.00
10,2020-03-15,8-K,8-k 1 form8-k.htm united states securities an...,0,0,NaN,NaN,NaN,NaN
11,2020-03-03,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,-0.00,-0.00
12,2020-03-03,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,-0.00,-0.00
13,2020-02-28,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,-0.00,-0.01
14,2020-02-24,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,-0.01,-0.01
15,2020-02-12,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.01,0.00,0.01
16,2020-02-03,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.01,-0.00,-0.00
17,2020-02-04,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.01,-0.00,-0.00
18,2020-01-28,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,-0.00,-0.01
19,2020-01-28,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,-0.00,-0.01
20,2020-01-08,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.00,0.01,0.01
21,2019-12-23,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
22,2019-10-24,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,-0.00,-0.00
23,2019-10-15,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,0.00,0.00
24,2019-10-08,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.00,-0.00,0.00,-0.00
25,2019-09-25,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,-0.00
26,2019-07-23,8-K,8-k 1 f8k072319_8ienterprisesacq.htm current ...,0,0,-0.00,-0.00,-0.00,0.01
27,2019-07-09,8-K,8-k 1 f8k0719_8ienterprises.htm current repor...,0,0,0.01,0.01,0.01,0.01
28,2019-07-02,8-K,8-k 1 f8k070219_8ienterprises.htm current rep...,0,0,0.00,-0.01,-0.00,-0.00
29,2019-04-08,8-K,8-k 1 s117370_8k.htm form 8-k united states s...,0,0,NaN,NaN,NaN,NaN
30,2019-03-27,8-K,8-k/a 1 s117288_8ka.htm 8-k/a united states s...,0,0,NaN,NaN,NaN,NaN
31,2019-03-27,8-K,8-k 1 s117173_8k.htm form 8-k united states s...,0,0,NaN,NaN,NaN,NaN

index: 51
JFKKU
8i Enterprises Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753648&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-03-28
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.05,-0.02,-0.03,-0.03
1,2020-06-15,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
2,2020-05-21,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
3,2020-05-11,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
4,2020-05-06,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
5,2020-04-16,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.01,0.01,0.01
6,2020-04-02,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.01,0.01
7,2020-03-26,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.08,0.07
8,2020-03-20,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
9,2020-03-19,8-K,8-k 1 form8-k.htm united states securities an...,0,0,-0.13,-0.13,-0.13,-0.13
10,2020-03-15,8-K,8-k 1 form8-k.htm united states securities an...,0,0,NaN,NaN,NaN,NaN
11,2020-03-03,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.01,0.02,0.02
12,2020-03-03,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.01,0.02,0.02
13,2020-02-28,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,-0.01,0.02
14,2020-02-24,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
15,2020-02-12,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
16,2020-02-03,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
17,2020-02-04,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
18,2020-01-28,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.01,0.01,0.01
19,2020-01-28,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.01,0.01,0.01
20,2020-01-08,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.03,0.02,0.02,0.02
21,2019-12-23,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.02,0.02,0.02
22,2019-10-24,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.00,0.01,0.01
23,2019-10-15,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
24,2019-10-08,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,0.00,0.00,0.00
25,2019-09-25,8-K,8-k 1 form8-k.htm united states securities an...,0,0,0.00,-0.01,-0.01,-0.01
26,2019-07-23,8-K,8-k 1 f8k072319_8ienterprisesacq.htm current ...,0,0,-0.00,-0.03,-0.03,-0.04
27,2019-07-09,8-K,8-k 1 f8k0719_8ienterprises.htm current repor...,0,0,0.00,-0.01,-0.01,0.01
28,2019-07-02,8-K,8-k 1 f8k070219_8ienterprises.htm current rep...,0,0,0.02,0.02,0.01,-0.00
29,2019-04-08,8-K,8-k 1 s117370_8k.htm form 8-k united states s...,0,0,0.00,-0.00,0.00,0.00
30,2019-03-27,8-K,8-k/a 1 s117288_8ka.htm 8-k/a united states s...,0,0,NaN,NaN,NaN,NaN
31,2019-03-27,8-K,8-k 1 s117173_8k.htm form 8-k united states s...,0,0,NaN,NaN,NaN,NaN

index: 52
JIH
Juniper Industrial Holdings, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1787791&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-12-20
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-23,8-K,8-k 1 d862918d8k.htm 8-k 8-k united states se...,0,0,-0.02,0.0,-0.01,0.0
1,2020-01-30,8-K,8-k 1 d881724d8k.htm 8-k 8-k united states se...,0,0,0.00,-0.0,0.00,0.0
2,2019-12-17,8-K,8-k 1 d837094d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
3,2019-11-19,8-K,8-k 1 d825615d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
4,2019-11-13,8-K,8-k 1 d822427d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 53
LACQ
Leisure Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1716947&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-02-26
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-26,8-K,8-k 1 ea123684-8k_leisureacqu.htm current rep...,0,0,0.05,0.06,0.03,-0.00
1,2020-03-26,8-K,8-k 1 ea120237-8k_leisure.htm current report ...,0,0,0.00,0.07,0.07,0.01
2,2020-03-26,8-K,8-k 1 ea120080-8k_leisureacq.htm current repo...,0,0,0.00,0.07,0.07,0.01
3,2020-03-04,8-K,8-k 1 d853003d8k.htm 8-k 8-k united states se...,0,0,-0.01,-0.02,-0.02,-0.01
4,2020-02-19,8-K,8-k 1 d883970d8k.htm form 8-k form 8-k united...,0,0,0.00,0.00,-0.00,-0.00
5,2020-02-11,8-K,8-k 1 d850379d8k.htm form 8-k form 8-k united...,0,0,0.00,-0.00,0.01,0.00
6,2020-02-04,8-K,8-k 1 d875387d8k.htm form 8-k form 8-k united...,0,0,0.00,0.00,0.00,0.00
7,2020-01-30,8-K,8-k 1 d853442d8k.htm 8-k 8-k united states se...,0,0,-0.00,-0.00,-0.00,0.00
8,2020-01-27,8-K,8-k 1 f8k012720_leisureacquis.htm current rep...,0,0,-0.00,-0.00,-0.00,0.00
9,2020-01-17,8-K,8-k 1 f8k011520_leisureacquisition.htm curren...,0,0,0.00,-0.00,-0.00,-0.00
10,2020-01-08,8-K,8-k 1 f8k010820_leisureacquisition.htm curren...,0,0,0.00,0.00,0.00,0.00
11,2020-01-07,8-K,8-k 1 f8k010720_leisureacq.htm current report...,0,0,0.00,0.00,-0.00,-0.00
12,2020-01-06,8-K,8-k 1 f8k010320_leisureacquisition.htm curren...,0,0,0.00,-0.00,-0.00,-0.00
13,2019-12-27,8-K,8-k 1 f8k122719_leisureacquisition.htm curren...,0,0,0.01,0.01,0.01,0.01
14,2019-12-27,8-K,8-k 1 f8k122719_leisureacquisition.htm curren...,0,0,0.01,0.01,0.01,0.01
15,2019-12-05,8-K,8-k 1 f8k120519_leisureacquisition.htm curren...,0,0,0.00,0.00,0.00,0.00
16,2019-11-26,8-K,8-k 1 f8k112619_leisureacquisition.htm curren...,0,0,0.00,0.00,0.00,0.01
17,2018-12-14,8-K,8-k 1 s114746_8k.htm 8-k united states securi...,0,0,0.00,0.00,0.00,0.00
18,2017-12-26,8-K,8-k 1 tv482071_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
19,2017-12-05,8-K,8-k 1 tv481119_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
20,2017-12-01,8-K,8-k 1 tv480817_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 54
LATN
Union Acquisition Corp. II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1766146&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-12-09
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-10-22,8-K,8-k 1 f8k102219_unionacquisition2.htm current...,0,0,NaN,NaN,NaN,NaN
1,2019-10-17,8-K,8-k 1 f8k1019_unionacqucorp2.htm current repo...,0,0,NaN,NaN,NaN,NaN

index: 55
LCA
Landcadia Holdings II, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1768012&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-01-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-28,8-K,8-k 1 tm2023623d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
1,2020-06-28,8-K,8-k 1 tm2023623d3_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2020-05-12,8-K,8-k 1 tm2019826d1_8k.htm form 8-k united stat...,0,0,-0.20,-0.16,-0.22,-0.30
3,2019-06-05,8-K,8-k 1 tv523109_8k.htm form 8-k united states ...,0,0,-0.15,-0.09,-0.08,-0.04
4,2019-05-09,8-K,8-k 1 tv521466_8k.htm form 8-k united states ...,0,0,-0.03,-0.12,-0.17,-0.26
5,2019-05-09,8-K,8-k 1 tv520626_8k.htm form 8-k united states ...,0,0,-0.03,-0.12,-0.17,-0.26

index: 56
LFAC
LF Capital Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1721386&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-06-29
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-16,8-K,8-k 1 e1988_8k.htm form 8-k united states sec...,0,0,0.03,0.03,0.01,0.02
1,2020-03-16,8-K,8-k 1 e1817_8k.htm form 8-k united states sec...,0,0,0.00,-0.02,-0.01,0.00
2,2019-12-03,8-K,8-k 1 e1613_8k.htm form 8-k united states sec...,0,0,0.00,0.00,0.00,0.00
3,2019-08-19,8-K,8-k 1 e1477_8k.htm form 8-k united states sec...,0,0,0.00,0.00,0.00,0.00
4,2018-06-28,8-K,8-k 1 tv497510_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
5,2018-06-22,8-K,8-k 1 tv497397_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
6,2018-06-19,8-K,8-k 1 tv497120_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 57
LHC
Leo Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1725134&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-04-16
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-06,8-K,8-k 1 d947542d8k.htm form 8-k form 8-k united...,0,1,-0.01,-0.02,NaN,NaN
1,2020-07-06,8-K,8-k 1 d936838d8k.htm form 8-k form 8-k united...,0,1,-0.01,-0.02,NaN,NaN
2,2020-07-02,8-K,8-k 1 d131432d8k.htm form 8-k form 8-k united...,0,1,-0.00,-0.00,-0.03,NaN
3,2020-07-02,8-K,8-k 1 d12451d8k.htm form 8-k form 8-k united ...,0,1,-0.00,-0.00,-0.03,NaN
4,2020-06-25,8-K,8-k 1 d938205d8k.htm form 8-k form 8-k united...,0,1,-0.01,-0.01,-0.01,-0.01
5,2020-06-22,8-K,8-k 1 d949884d8k.htm 8-k 8-k united states se...,0,1,-0.01,-0.01,-0.01,-0.01
6,2020-04-23,8-K,8-k/a 1 d920540d8ka.htm 8-k/a 8-k/a united st...,0,1,-0.01,-0.00,-0.01,-0.01
7,2020-04-23,8-K,8-k 1 d880378d8k.htm form 8-k form 8-k united...,0,1,-0.01,-0.00,-0.01,-0.01
8,2020-02-14,8-K,8-k 1 d851307d8k.htm form 8-k form 8-k united...,0,0,-0.00,-0.00,-0.01,-0.01
9,2020-02-11,8-K,8-k 1 d887343d8k.htm form 8-k form 8-k united...,0,0,-0.00,-0.00,-0.00,-0.01
10,2019-07-29,8-K,8-k 1 d782679d8k.htm form 8-k form 8-k united...,0,0,0.00,0.00,0.00,0.00
11,2019-07-08,8-K,8-k 1 d770115d8k.htm form 8-k form 8-k united...,0,1,0.00,0.00,0.01,0.00
12,2019-06-27,8-K,8-k 1 d742796d8k.htm form 8-k form 8-k united...,0,1,-0.00,-0.01,-0.01,-0.01
13,2019-07-01,8-K,8-k 1 d614182d8k.htm form 8-k form 8-k united...,0,1,-0.02,-0.02,-0.01,-0.01
14,2019-06-04,8-K,8-k 1 d759338d8k.htm form 8-k form 8-k united...,0,1,0.00,0.00,0.01,-0.00
15,2019-04-11,8-K,8-k 1 d725648d8k.htm form 8-k form 8-k united...,0,1,-0.01,-0.03,-0.02,-0.02
16,2019-04-07,8-K,8-k 1 d585731d8k.htm form 8-k form 8-k united...,0,1,NaN,NaN,NaN,NaN
17,2018-10-10,8-K,8-k 1 d615432d8k.htm form 8-k form 8-k united...,0,0,0.00,0.00,0.00,0.00
18,2018-03-30,8-K,8-k 1 d515454d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
19,2018-02-22,8-K,8-k 1 d467234d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
20,2018-02-16,8-K,8-k 1 d541189d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 58
LOAC
Longevity Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1743858&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-10-16
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-28,8-K,8-k 1 tm2021139d1_8k.htm form 8-k united stat...,0,0,0.00,0.00,0.00,0.00
1,2020-02-21,8-K,8-k 1 tm209738d1_8k.htm form 8-k united state...,0,0,0.00,-0.00,0.00,0.00
2,2020-01-24,8-K,8-k 1 tm205801d1_8k.htm form 8-k united state...,0,0,0.00,0.00,0.00,0.00
3,2019-12-05,8-K,8-k 1 tm19246101_8k.htm form 8-k united state...,0,0,0.00,0.00,0.00,0.00
4,2019-11-22,8-K,8-k 1 tm1923390d1_8k.htm form 8-k united stat...,0,0,0.01,0.01,0.01,0.01
5,2019-09-13,8-K,8-k 1 tv529426_8k.htm form 8-k united states ...,0,0,0.00,0.00,0.00,0.00
6,2019-08-21,8-K,8-k 1 tv528040_8k.htm form 8-k united states ...,0,0,0.01,0.01,0.01,0.01
7,2018-10-24,8-K,8-k 1 tv505432_8k.htm form 8-k united states ...,0,0,0.00,0.00,0.02,0.02
8,2018-10-16,8-K,8-k 1 tv504850_8k.htm form 8-k united states ...,0,0,0.00,0.00,0.00,0.00
9,2018-09-07,8-K,8-k 1 tv502467_8k.htm 8-k united states secur...,0,0,NaN,NaN,NaN,NaN
10,2018-08-31,8-K,8-k 1 tv502068_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 59
LOAK
Live Oak Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1779020&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-05-28
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-22,8-K,8-k 1 ea122279-8k_liveoakacqui.htm current re...,0,0,NaN,NaN,NaN,NaN
1,2020-05-14,8-K,8-k 1 ea121702-8k_liveoakacquis.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2020-05-11,8-K,8-k 1 ea121585-8k_liveoakacqu.htm current rep...,0,0,NaN,NaN,NaN,NaN

index: 60
LSAC
LifeSci Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1796129&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-05-27
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-20,8-K,8-k/a 1 tm2015582d1_8ka.htm form 8-k/a united...,0,0,NaN,NaN,NaN,NaN
1,2020-03-20,8-K,8-k 1 tm2013761d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2020-03-10,8-K,8-k 1 tm2012857d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
3,2020-03-05,8-K,8-k 1 tm2012345-1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN

index: 61
MCMJ
Merida Merger Corp. I
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1785592&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-12-12
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-09,8-K,8-k 1 f8k120919_meridamergercorpi.htm current...,0,0,NaN,NaN,NaN,NaN
1,2019-11-07,8-K,8-k 1 f8k110719_meridamerger1.htm current rep...,0,0,NaN,NaN,NaN,NaN
2,2019-11-04,8-K,8-k 1 f8k110419_meridamerger1.htm current rep...,0,0,NaN,NaN,NaN,NaN

index: 62
MFAC
Megalith Financial Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1725872&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-09-21
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-26,8-K,8-k 1 ea122347-8k_megalithfin.htm current rep...,0,0,-0.0,0.02,-0.00,-0.01
1,2020-05-20,8-K,8-k 1 ea122160-8k_megalithfin.htm current rep...,1,0,-0.0,0.01,0.02,0.05
2,2020-05-05,8-K,8-k 1 ea121411-8k_megalithfinan.htm current r...,0,0,0.0,0.00,0.00,0.00
3,2018-09-27,8-K,8-k 1 f8k092118_megalithfinancial.htm current...,0,0,-0.0,-0.00,0.00,-0.00
4,2018-09-04,8-K,8-k 1 f8k082818_megalithfinancial.htm current...,0,0,NaN,NaN,NaN,NaN
5,2018-08-29,8-K,8-k 1 f8k082318_megalithfinancial.htm current...,0,0,NaN,NaN,NaN,NaN

index: 63
MNCL
Monocle Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1754170&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-02-28
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-26,8-K,8-k 1 tm205900d1_8k.htm form 8-k united state...,0,0,NaN,NaN,NaN,NaN
1,2019-12-08,8-K,8-k 1 tm1924738d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2019-02-27,8-K,8-k 1 tv514755_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
3,2019-02-11,8-K,8-k 1 tv513905_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
4,2019-02-06,8-K,8-k 1 tv513034_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 64
MUDS
HYCROFT MINING HOLDING CORP
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1718405&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-03-12
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-08,8-K,8-k 1 tm2024538d1_8k.htm form 8-k united stat...,0,0,0.09,NaN,NaN,NaN
1,2020-07-01,8-K,8-k 1 mudsu20200701_8k.htm form 8-k \tmudsu20...,0,0,-0.01,-0.01,0.10,NaN
2,2020-05-29,8-K,8-k12b/a 1 tm2021571d4_8k12ba.htm form 8-k12b...,0,0,0.04,-0.03,-0.10,-0.13
3,2020-06-01,8-K,8-k 1 tm2021571d2_8k.htm form 8-k united stat...,0,0,-0.20,-0.22,-0.29,-0.31
4,2020-05-29,8-K,8-k12b 1 tm2021571d1_8k12b.htm form 8-k12b un...,0,0,0.04,-0.03,-0.10,-0.13
5,2020-05-29,8-K,8-k 1 tm2021334d1_8k.htm form 8-k united stat...,0,0,0.04,-0.03,-0.10,-0.13
6,2020-05-14,8-K,8-k 1 tm2019663d1_8k.htm form 8-k united stat...,0,0,-0.00,-0.00,-0.01,-0.00
7,2020-02-26,8-K,8-k 1 tm2011110-1_8k.htm 8-k united states se...,0,0,0.00,0.01,0.01,0.00
8,2020-02-12,8-K,8-k 1 tm208146d1_8k.htm form 8-k united state...,0,0,-0.00,-0.00,-0.00,-0.00
9,2020-02-10,8-K,8-k 1 tm207364d1_8k.htm 8-k united states sec...,0,0,0.00,0.00,0.00,0.00
10,2020-01-13,8-K,8-k 1 tm203205d1_8k.htm form 8-k united state...,0,0,-0.00,0.00,-0.00,-0.00
11,2020-01-03,8-K,8-k 1 tm201141d1_8k.htm form 8-k united state...,0,0,0.00,0.00,0.00,0.00
12,2019-12-20,8-K,8-k 1 tm1926741d1_8k.htm 8-k united states se...,0,0,0.00,0.00,-0.00,0.00
13,2019-11-26,8-K,8-k 1 tm1923949d1_8k.htm form 8-k united stat...,0,0,0.00,0.00,-0.00,0.00
14,2018-03-08,8-K,8-k 1 tv488035_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
15,2018-03-06,8-K,8-k 1 tv487845_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
16,2018-02-16,8-K,8-k 1 tv486265_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
17,2018-02-13,8-K,8-k 1 tv485754_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 65
NEBU
Nebula Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1720353&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-03-06
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-09,8-K,8-k 1 ea122874-8k_nebula.htm current report u...,0,1,0.13,0.10,0.17,0.24
1,2020-06-08,8-K,8-k 1 ea122783-8k_nebulaacqu.htm current repo...,0,1,0.26,0.22,0.27,0.39
2,2020-06-01,8-K,8-k 1 ea122439-8k_nebulaacq.htm current repor...,0,1,-0.00,-0.00,0.19,0.34
3,2020-05-18,8-K,8-k 1 ea121809-8k_nebula.htm current report u...,0,1,-0.00,-0.00,-0.00,-0.00
4,2020-05-13,8-K,8-k 1 ea121740-8k_nebulaacq.htm current repor...,0,1,0.00,0.01,0.00,0.00
5,2020-05-08,8-K,8-k/a 1 ea121610-8ka_nebulaacquisit.htm amend...,0,1,-0.00,0.00,0.00,0.00
6,2020-05-08,8-K,8-k 1 ea121568-8k_nebula.htm form 8-k united ...,0,1,-0.00,0.00,0.00,0.00
7,2020-03-26,8-K,8-k 1 nebu-8k_20200326.htm 8-k nebu-8k_202003...,0,1,-0.01,0.00,0.00,0.00
8,2020-03-18,8-K,8-k 1 d901525d8k.htm 8-k 8-k united states se...,0,1,-0.02,-0.01,-0.01,-0.01
9,2020-03-06,8-K,8-k 1 ea119385-8k_nebulaacq.htm current repor...,0,0,-0.03,-0.03,-0.05,-0.05
10,2020-02-24,8-K,8-k 1 f8k021820_nebulaacquisition.htm form 8-...,0,0,0.00,0.00,0.01,-0.00
11,2020-01-09,8-K,8-k 1 f8k010920_nebulaacq.htm current report ...,0,1,-0.01,-0.00,-0.00,0.00
12,2020-01-06,8-K,8-k 1 f8k0120_nebulaacquisition.htm current r...,0,1,-0.02,-0.02,-0.02,-0.02
13,2019-12-20,8-K,8-k 1 f8k121819_nebulaacquisition.htm form 8-...,0,0,0.01,0.01,0.01,0.02
14,2019-12-16,8-K,8-k 1 f8k121619_nebulaacquisition.htm current...,0,0,0.01,0.02,0.02,0.02
15,2019-11-22,8-K,8-k 1 f8k112219_nebulaacq.htm current report ...,0,0,0.00,0.00,0.00,0.00
16,2019-11-08,8-K,8-k 1 f8k_nebula.htm united states securities...,0,0,0.00,0.00,0.00,0.00
17,2018-02-27,8-K,8-k 1 f8k022718_nebulaacq.htm current report ...,0,0,NaN,NaN,NaN,NaN
18,2018-01-19,8-K,8-k 1 f8k011218_nebulaacquisition.htm current...,0,0,NaN,NaN,NaN,NaN
19,2018-01-16,8-K,8-k 1 f8k010918_nebulaacquisition.htm current...,0,0,NaN,NaN,NaN,NaN

index: 66
NFIN
Netfin Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1776903&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-08-14
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-29,8-K,8-k 1 ea123558-8k_netfinacq.htm current repor...,1,0,-0.02,-0.01,-0.02,-0.01
1,2019-08-12,8-K,8-k 1 f8k081219_netfin.htm current report uni...,0,0,NaN,NaN,NaN,NaN
2,2019-08-08,8-K,8-k 1 f8k073019_netfinacquisition.htm form 8-...,0,0,NaN,NaN,NaN,NaN
3,2019-08-02,8-K,8-k 1 f8k073019_netfinacquisition.htm current...,0,0,NaN,NaN,NaN,NaN

index: 67
NPA
New Providence Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1780312&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-11-01
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-10-30,8-K,8-k 1 f8k103019_newprovidence.htm current rep...,0,0,NaN,NaN,NaN,NaN
1,2019-09-13,8-K,8-k 1 f8k091319_newprovidenceacqu.htm current...,0,0,NaN,NaN,NaN,NaN
2,2019-09-10,8-K,8-k 1 f8k091019_newprovidence.htm current rep...,0,0,NaN,NaN,NaN,NaN

index: 68
OAC
Oaktree Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1773751&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-09-13
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-10-01,8-K,8-k 1 d803730d8k.htm 8-k 8-k united states se...,0,0,0.0,-0.0,-0.0,-0.0
1,2019-09-06,8-K,8-k 1 d798302d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
2,2019-07-22,8-K,8-k 1 d762595d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
3,2019-07-17,8-K,8-k 1 d671484d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 69
OPES
Opes Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1723580&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-03-26
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-13,8-K,8-k 1 f8k071320_opesacquisition.htm form 8-k ...,0,0,NaN,NaN,NaN,NaN
1,2020-07-06,8-K,8-k 1 ea124072-8k_opesacq.htm current report ...,0,0,-0.11,-0.13,NaN,NaN
2,2020-06-29,8-K,8-k 1 ea123648-8k_opesacq.htm current report ...,0,0,-0.00,-0.06,-0.16,-0.18
3,2020-06-18,8-K,8-k 1 ea123212-8k_opes.htm form 8-k united st...,0,0,-0.03,-0.14,-0.16,-0.12
4,2020-06-08,8-K,8-k 1 ea122827-8k_opesacquisition.htm current...,1,1,0.12,0.11,0.20,0.58
5,2020-04-13,8-K,8-k 1 ea120651-8k_opesacqu.htm current report...,0,0,-0.00,0.00,0.00,0.00
6,2020-04-06,8-K,8-k 1 ea120500-8k_opesacquisition.htm form 8-...,0,0,0.00,-0.00,-0.00,0.00
7,2020-03-16,8-K,8-k 1 ea119665-8k_opesacqui.htm current repor...,0,0,0.01,0.01,-0.01,0.00
8,2020-01-15,8-K,8-k 1 f8k011520_opesacquisition.htm current r...,0,0,0.00,0.00,0.00,0.00
9,2020-01-02,8-K,8-k 1 f8k010220_opesacquisition.htm current r...,0,0,0.00,0.00,-0.00,-0.00
10,2019-11-15,8-K,8-k 1 f8k111519_opesacquisition.htm current r...,0,0,-0.00,-0.00,0.00,0.00
11,2019-10-28,8-K,8-k 1 f8k102819_opesacquisition.htm form 8-k ...,0,0,0.00,0.00,0.00,0.00
12,2019-09-16,8-K,8-k 1 f8k091619_opesacquisition.htm form 8-k ...,0,0,0.01,0.01,0.01,0.01
13,2019-09-13,8-K,8-k 1 f8k091319_opesacquisition.htm form 8-k ...,0,0,0.00,0.00,0.00,0.00
14,2018-10-11,8-K,8-k 1 s113264_8k.htm 8-k united states securi...,0,0,0.00,0.00,0.00,0.00
15,2018-03-22,8-K,8-k 1 s109421_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
16,2018-03-16,8-K,8-k 1 s109428_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
17,2018-03-13,8-K,8-k 1 s109358_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN

index: 70
ORSN
Orisun Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1770251&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-11-07
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-29,8-K,8-k 1 ea123686-8k_orisunacq.htm current repor...,0,0,0.0,-0.0,0.01,0.01
1,2019-12-11,8-K,8-k 1 f8k121119_orisunacquisition.htm current...,0,0,0.0,0.0,0.00,0.00
2,2019-11-04,8-K,8-k 1 f8k110419_orisunacquisition.htm current...,0,0,NaN,NaN,NaN,NaN
3,2019-08-28,8-K,8-k 1 f8k082819_orisunacquisition.htm form 8-...,0,0,NaN,NaN,NaN,NaN
4,2019-08-28,8-K,8-k 1 f8k082819_orisunacquisition.htm current...,0,0,NaN,NaN,NaN,NaN
5,2019-08-06,8-K,8-k 1 f8k080619_orisunacq.htm current report ...,0,0,NaN,NaN,NaN,NaN
6,2019-08-02,8-K,8-k 1 f8k080219_orisunacquisition.htm current...,0,0,NaN,NaN,NaN,NaN

index: 71
PAAC
PROFICIENT ALPHA ACQUISITION CORP
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1764711&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-06-21
price data max date: 2020-06-16

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-04,8-K,8-k 1 paac8k060320.htm united states securiti...,0,1,-0.22,0.09,0.01,0.01
1,2020-05-18,8-K,8-k 1 paac8k051220.htm united states securiti...,0,1,0.00,0.01,0.01,0.01
2,2020-03-16,8-K,8-k 1 paac8k031620.htm united states securiti...,0,1,0.00,-0.01,-0.01,-0.02
3,2020-03-11,8-K,8-k 1 paac8k031020.htm united states securiti...,0,1,-0.00,-0.00,-0.04,-0.02
4,2019-12-30,8-K,8-k 1 paac8k123019.htm united states securiti...,1,0,0.00,0.00,0.00,0.00
5,2019-07-24,8-K,8-k 1 paac8k072419.htm united states securiti...,1,0,0.00,0.02,0.00,0.00
6,2019-07-03,8-K,8-k 1 paac8k070319.htm united states securiti...,0,0,-0.02,-0.02,-0.02,0.00
7,2019-06-19,8-K,8-k 1 paac8k061919.htm united states securiti...,0,0,NaN,NaN,NaN,NaN
8,2019-06-03,8-K,8-k 1 paac8k060719.htm united states securiti...,0,0,NaN,NaN,NaN,NaN
9,2019-06-04,8-K,8-k 1 paac8k060419.htm united states securiti...,0,0,NaN,NaN,NaN,NaN

index: 72
PACQ
Pure Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1726293&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-01-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-07,8-K,8-k 1 pacq20200706_8k.htm form 8-k \tpacq2020...,0,0,-0.01,-0.01,NaN,NaN
1,2020-07-01,8-K,8-k 1 pacq20200701_8k.htm form 8-k \tpacq2020...,0,1,0.00,0.00,0.00,NaN
2,2020-06-12,8-K,8-k 1 pacq20200615_8k.htm form 8-k \tpacq2020...,0,1,0.01,0.02,0.02,0.01
3,2020-05-20,8-K,8-k 1 pacq20200519_8k.htm form 8-k \tpacq2020...,0,0,-0.04,-0.05,-0.01,-0.04
4,2020-05-04,8-K,8-k 1 pacq20200429_8k.htm form 8-k \thpe20200...,0,1,0.00,-0.00,0.00,-0.00
5,2020-04-24,8-K,8-k 1 pacq20200423_8k.htm form 8-k \tpacq2020...,0,1,0.00,0.00,0.00,0.00
6,2020-02-25,8-K,8-k 1 pacq20200224_8k.htm form 8-k \tpacq2020...,0,0,-0.00,0.00,-0.00,0.00
7,2020-02-20,8-K,8-k 1 pacq20200218_8k.htm form 8-k \tpacq2020...,0,0,0.00,0.00,-0.00,-0.00
8,2020-02-06,8-K,8-k 1 pacq20200123_8k.htm form 8-k \tpacq2020...,0,1,0.00,-0.00,-0.00,-0.00
9,2020-01-22,8-K,8-k 1 pacq20200121_8k.htm form 8-k \tpacq2020...,0,0,0.00,0.01,0.01,0.01
10,2019-12-09,8-K,8-k 1 pacq20191212_8k.htm form 8-k \tpacq2019...,0,0,0.00,0.02,-0.00,-0.00
11,2019-11-27,8-K,8-k 1 pacq20191110_8k.htm form 8-k \tpacq2019...,0,1,0.00,-0.00,0.00,0.00
12,2019-10-10,8-K,8-k 1 pacq20191014_8k.htm form 8-k \tpacq2019...,0,0,-0.00,0.00,0.01,0.00
13,2018-05-25,8-K,8-k 1 pacq-8k_20180525.htm 8-k pacq-8k_201805...,0,0,0.08,0.07,0.07,0.07
14,2018-04-17,8-K,8-k 1 d574529d8k.htm form 8-k form 8-k united...,0,0,0.00,0.00,0.00,0.00
15,2018-04-12,8-K,8-k 1 d575845d8k.htm 8-k 8-k united states se...,0,0,0.00,0.00,0.00,0.00

index: 73
PCPL
CC Neuberger Principal Holdings I
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1800347&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-15
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-12,8-K,8-k 1 tm2022492d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
1,2020-04-28,8-K,8-k 1 tm2018454d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2020-04-28,8-K,8-k 1 tm2017759-1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN

index: 74
PIC
Pivotal Investment Corp II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1772720&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-09-03
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-07-16,8-K,8-k 1 d766703d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
1,2019-07-11,8-K,8-k 1 d744756d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 75
PTAC
PropTech Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1784535&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-13
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-09,8-K,8-k 1 f8k010920_proptech.htm current report u...,0,0,NaN,NaN,NaN,NaN
1,2019-12-03,8-K,8-k 1 f8k112619_proptech.htm current report u...,0,0,NaN,NaN,NaN,NaN
2,2019-11-26,8-K,8-k 1 f8k112119_proptech.htm current report u...,0,0,NaN,NaN,NaN,NaN

index: 76
RMG
RMG Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1757932&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-04-01
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-02-05,8-K,8-k 1 tm206959d1_8k.htm 8-k united states sec...,0,0,0.0,0.0,0.0,-0.00
1,2020-01-15,8-K,8-k 1 tm203573d1_8k.htm 8-k united states sec...,0,0,0.0,0.0,0.0,0.00
2,2019-12-30,8-K,8-k 1 tm1927523d1_8k.htm form 8-k united stat...,0,0,-0.0,0.0,0.0,0.01
3,2019-08-15,8-K,8-k 1 tv527910_8k.htm form 8-k united states ...,0,0,0.0,0.0,0.0,0.00
4,2019-03-29,8-K,8-k 1 tv517554_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
5,2019-02-12,8-K,8-k 1 tv514031_8k.htm 8-k united states secur...,0,0,NaN,NaN,NaN,NaN
6,2019-02-07,8-K,8-k 1 tv513054_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 77
ROCHU
Roth CH Acquisition I Co
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1796303&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-05-05
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-26,8-K,8-k 1 tm2021148d1_8k.htm form 8-k united stat...,0,0,-0.0,0.0,0.0,-0.0
1,2020-05-07,8-K,8-k 1 tm2019433d1_8k.htm form 8-k united stat...,0,0,-0.0,0.0,-0.0,0.0
2,2020-05-04,8-K,8-k 1 tm2018877d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN

index: 78
RPLA
Replay Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1763731&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-04-18
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-08-15,8-K,8-k 1 a19-17419_18k.htm 8-k united states sec...,0,0,-0.0,-0.0,-0.0,-0.0
1,2019-04-15,8-K,8-k 1 a19-8241_28k.htm 8-k united states secu...,0,0,NaN,NaN,NaN,NaN
2,2019-04-08,8-K,8-k 1 a19-8241_18k.htm 8-k united states secu...,0,0,NaN,NaN,NaN,NaN
3,2019-04-03,8-K,8-k 1 a19-8007_18k.htm 8-k united states secu...,0,0,NaN,NaN,NaN,NaN

index: 79
SAMA
Schultze Special Purpose Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1754824&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-01-09
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-09,8-K,8-k 1 ea122848-8k_schultze.htm form 8-k unite...,0,0,0.02,0.0,-0.00,0.02
1,2020-06-01,8-K,8-k 1 ea122529-8k_schultzespecial.htm current...,1,0,0.01,0.0,-0.01,0.00
2,2020-01-06,8-K,8-k 1 f8k010220_schultzespecial.htm current r...,0,0,0.00,0.0,0.00,0.00
3,2019-01-07,8-K,8-k 1 s115256_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
4,2018-12-13,8-K,8-k 1 s114818_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
5,2018-12-10,8-K,8-k 1 s114725_8k.htm form 8k united states se...,0,0,NaN,NaN,NaN,NaN

index: 80
SAQN
Software Acquisition Group Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1776909&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-08
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-03,8-K,8-k 1 f8k010320_softwareacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
1,2019-11-27,8-K,8-k 1 f8k1119_softwareacquis.htm form 8-k uni...,0,0,NaN,NaN,NaN,NaN
2,2019-11-25,8-K,8-k 1 f8k111919_softwareacq.htm current repor...,0,0,NaN,NaN,NaN,NaN

index: 81
SBE
Switchback Energy Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1777393&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-09-16
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-09-16,8-K,8-k 1 f8k091619_switchback.htm form 8-k unite...,0,0,0.01,0.01,0.02,0.02
1,2019-09-06,8-K,8-k 1 f8k090619_switchbackenergy.htm current ...,0,0,NaN,NaN,NaN,NaN
2,2019-07-30,8-K,8-k 1 f8k073019_switchbackenergy.htm current ...,0,0,NaN,NaN,NaN,NaN
3,2019-07-25,8-K,8-k 1 f8k072519_switchbackenergy.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 82
SCPE
SC Health Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1764301&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-09-05
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-08-30,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
1,2019-08-02,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
2,2019-07-16,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
3,2019-07-11,8-K,8-k 1 s002753x11_8k.htm 8k united states secu...,0,0,NaN,NaN,NaN,NaN

index: 83
SCVX
SCVX Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1794717&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-03-20
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-28,8-K,8-k 1 f8k012920_scvxcorp.htm current report u...,0,0,NaN,NaN,NaN,NaN
1,2020-01-23,8-K,8-k 1 f8k012320_scvxcorp.htm current report u...,0,0,NaN,NaN,NaN,NaN

index: 84
SFTW
Osprey Technology Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753539&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-12-20
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-17,8-K,8-k 1 d837296d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
1,2019-11-13,8-K,8-k 1 d824634d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
2,2019-11-05,8-K,8-k 1 d822025d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
3,2019-10-31,8-K,8-k 1 d826136d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN

index: 85
SHLL
Tortoise Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1759631&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-04-22
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-18,8-K,8-k 1 ea123187-8k_tortoiseacq.htm current rep...,0,1,0.38,0.71,0.71,2.12
1,2020-01-23,8-K,8-k 1 f8k012320_tortoiseacquis.htm current re...,0,0,-0.00,-0.00,-0.00,-0.00
2,2019-04-19,8-K,8-k 1 f8k041919_tortoiseacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
3,2019-03-04,8-K,8-k 1 f8k030419_tortoiseacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
4,2019-02-27,8-K,8-k 1 f8k022719_tortoiseacq.htm current repor...,0,0,NaN,NaN,NaN,NaN

index: 86
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 87
SOAC
Sustainable Opportunities Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1798562&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-26
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k 1 ea123338-8k_sustainable.htm current rep...,0,0,NaN,NaN,NaN,NaN
1,2020-05-08,8-K,8-k 1 ea121810-8k_sustainable.htm current rep...,0,0,NaN,NaN,NaN,NaN
2,2020-05-08,8-K,8-k 1 ea121545-8k_sustainableopp.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 88
SPAQ
Spartan Energy Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1720990&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-10-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-10,8-K,8-k 1 ea124083-8k_spartanenergy.htm current r...,0,1,NaN,NaN,NaN,NaN
1,2020-06-25,8-K,8-k 1 ea123511-8k_spartanenergy.htm current r...,0,0,-0.01,0.02,0.04,0.02
2,2020-04-07,8-K,8-k 1 ea120521-8k_spartanener.htm current rep...,0,0,0.00,0.00,0.00,0.00
3,2020-02-20,8-K,8-k 1 f8k022020_spartanenergy.htm current rep...,0,0,0.00,0.00,0.00,0.00
4,2019-07-30,8-K,8-k 1 f8k073019_spartanenergy.htm current rep...,0,0,-0.00,-0.00,-0.00,-0.00
5,2018-09-28,8-K,8-k 1 f8k092818_spartanenergy.htm current rep...,0,0,NaN,NaN,NaN,NaN
6,2018-08-14,8-K,8-k 1 f8k081418_spartanenergy.htm current rep...,0,0,NaN,NaN,NaN,NaN
7,2018-08-09,8-K,8-k 1 f8k080918_spartanenergy.htm current rep...,0,0,NaN,NaN,NaN,NaN

index: 89
SRAC
Stable Road Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1781162&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-26,8-K,8-k 1 f8k122319_stableroad.htm current report...,0,0,NaN,NaN,NaN,NaN
1,2019-11-19,8-K,8-k 1 f8k111319_stableroadacq.htm current rep...,0,0,NaN,NaN,NaN,NaN
2,2019-11-13,8-K,8-k 1 f8k110719_stableroad.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 90
SSPK
Silver Spike Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1779474&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-10-01
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-02-14,8-K,8-k 1 dp121447_8k.htm form 8-k united states ...,0,0,0.0,0.02,0.01,0.01
1,2019-09-25,8-K,8-k 1 dp113051_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
2,2019-08-12,8-K,8-k 1 dp111340_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
3,2019-08-12,8-K,8-k 1 dp111173_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 91
TDAC
Trident Acquisitions Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1673481&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-06-13
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-28,8-K,8-k 1 ea122525-8k_tridentacq.htm current repo...,0,0,0.00,0.00,0.00,0.01
1,2020-05-26,8-K,8-k 1 ea122402-8k_tridentacqui.htm current re...,0,0,0.01,0.01,0.01,0.01
2,2019-11-26,8-K,8-k 1 f8k112619_tridentacq.htm current report...,0,0,0.00,0.01,0.01,0.01
3,2018-06-05,8-K,8-k 1 s110685_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
4,2018-05-29,8-K,8-k 1 s110634_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN

index: 92
THCA
Tuscan Holdings Corp. II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1773087&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-07-30
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-07-26,8-K,8-k 1 f8k072619_tuscanholding2.htm current re...,0,0,NaN,NaN,NaN,NaN
1,2019-07-16,8-K,8-k 1 f8k071619_tuscanholdings2.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2019-07-11,8-K,8-k 1 f8k071119_tuscanholdings2.htm current r...,0,0,NaN,NaN,NaN,NaN

index: 93
THCB
Tuscan Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1760689&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-03-27
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-10,8-K,8-k 1 ea123075-8k_tuscan.htm form 8-k united ...,0,0,0.00,0.00,0.00,0.01
1,2020-04-20,8-K,8-k 1 ea120991-8k_tuscanhold.htm current repo...,0,0,0.00,0.00,0.00,0.00
2,2019-08-08,8-K,8-k 1 f8k080819_tuscanholding.htm form 8-k un...,0,0,-0.01,-0.01,-0.01,-0.01
3,2019-03-21,8-K,8-k 1 f8k032119_tuscanholdings.htm current re...,0,0,NaN,NaN,NaN,NaN
4,2019-03-07,8-K,8-k 1 f8k030719_tuscanholding.htm current rep...,0,0,NaN,NaN,NaN,NaN
5,2019-03-05,8-K,8-k 1 f8k030519_tuscanholdings.htm current re...,0,0,NaN,NaN,NaN,NaN

index: 94
TOTA
Tottenham Acquisition I Ltd
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1731176&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-08-27
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-06,8-K,8-k 1 tottenham_8k-050820.htm form 8-k united...,0,0,0.0,0.00,-0.00,-0.00
1,2020-04-23,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,0.0,0.00,0.00,0.01
2,2020-04-09,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,0.0,0.01,0.01,0.01
3,2020-01-23,8-K,8-k 1 tottenham_8k-012320.htm form 8-k united...,0,0,0.0,0.00,0.01,0.01
4,2020-01-03,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,0.0,0.00,0.00,-0.00
5,2019-10-25,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,0.0,0.00,0.01,0.01
6,2019-07-24,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,0.0,0.00,0.00,-0.00
7,2018-08-01,8-K,8-k/a 1 tottenham_8ka1.htm amended current re...,0,0,NaN,NaN,NaN,NaN
8,2018-08-01,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN

index: 95
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 96
TZAC
Tenzing Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1742927&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-10-18
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-21,8-K,8-k 1 tm2020397d1_8k.htm form 8-k united stat...,0,0,-0.13,-0.12,-0.13,-0.13
1,2020-02-18,8-K,8-k 1 tm209296-1_8k.htm form 8-k united state...,0,0,0.00,0.00,0.00,0.00
2,2020-02-10,8-K,8-k 1 tm208113d1_8k.htm form 8-k united state...,0,0,0.00,0.00,0.00,0.00
3,2018-10-17,8-K,8-k 1 tv504990_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
4,2018-09-05,8-K,8-k 1 tv502314_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
5,2018-08-29,8-K,8-k 1 tv501872_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
6,2018-08-24,8-K,8-k 1 tv501602_8k.htm 8-k united states secur...,0,0,NaN,NaN,NaN,NaN

index: 97
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 98
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 99
AGBA
AGBA Acquisition Ltd
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1769624&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-07-31
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-11,8-K,8-k 1 ea121632-8k_agbaacq.htm current report ...,0,0,0.0,0.0,0.0,0.0
1,2019-05-14,8-K,8-k/a 1 s118479_8ka.htm form 8-k/a united sta...,0,0,NaN,NaN,NaN,NaN
2,2019-05-14,8-K,8-k 1 s118418_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN

index: 100
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 101
BMRG
B. Riley Principal Merger Corp. II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1805077&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-03
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k 1 ea123410-8k_brileyprincipal.htm current...,1,0,0.11,0.13,0.1,0.12
1,2020-05-29,8-K,8-k 1 ea122436-8k_brileyprincipal2.htm curren...,0,0,NaN,NaN,NaN,NaN
2,2020-05-22,8-K,8-k 1 ea122406-8k_brileyprincipal2.htm curren...,0,0,NaN,NaN,NaN,NaN
3,2020-05-22,8-K,8-k 1 ea122222-8k_brileyprincipal2.htm curren...,0,0,NaN,NaN,NaN,NaN

index: 102
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 103
DEH
D8 Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1812173&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 104
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 105
DFPH
DFP HEALTHCARE ACQUISITIONS CORP.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1799191&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-06-04
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-28,8-K,8-k 1 tm2018001d1_8k.htm 8-k united states se...,0,0,NaN,NaN,NaN,NaN
1,2020-03-13,8-K,8-k 1 tm2013047d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2020-03-13,8-K,8-k 1 tm201723d6_8k.htm form 8-k united state...,0,0,NaN,NaN,NaN,NaN

index: 106
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 107
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 108
GIK
GigCapital3, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1802749&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-07-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-27,8-K,8-k 1 d89507d8k.htm 8-k 8-k united states sec...,0,0,NaN,NaN,NaN,NaN
1,2020-05-21,8-K,8-k 1 tm2021137d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
2,2020-05-18,8-K,8-k 1 tm2020946d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
3,2020-05-13,8-K,8-k 1 d918309d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 110
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 111
HPX
HPX Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1809353&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 112
IWAC
ISWILL ACQUISITION Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1765604&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 113
JEF
Jefferies Financial Group Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=96223&type=8-K&dateb=&owner=include&count=100
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
price data min date: 2018-01-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-09-26,8-K,8-k 1 jfg8-k8x31x19.htm jefferies financial g...,0,0,-0.10,-0.08,-0.09,-0.12
1,2019-07-03,8-K,8-k 1 d774137d8k.htm 8-k 8-k united states se...,0,0,0.09,0.09,0.07,0.09
2,2019-07-03,8-K,8-k 1 jfg8-k5x31x19.htm jefferies financial g...,0,0,0.09,0.09,0.07,0.09
3,2019-05-02,8-K,8-k 1 d734976d8k.htm 8-k 8-k united states se...,0,0,0.01,-0.03,-0.04,-0.08
4,2019-04-26,8-K,8-k 1 d721844d8k.htm 8-k 8-k united states se...,0,0,0.02,0.01,0.02,-0.02
...,...,...,...,...,...,...,...,...,...
80,2014-12-16,8-K,8-k 1 a51004005.htm leucadia national corpora...,0,0,NaN,NaN,NaN,NaN
81,2014-11-07,8-K,8-k 1 lnc3rdqtrform8k.htm leucadia national c...,0,0,NaN,NaN,NaN,NaN
82,2014-10-31,8-K,8-k 1 d818368d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
83,2014-10-29,8-K,8-k 1 d814006d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
84,2014-09-16,8-K,8-k 1 a50943230.htm leucadia national corpora...,0,0,NaN,NaN,NaN,NaN

index: 114
JWS
Jaws Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1800682&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-07-02
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-02,8-K,8-k 1 d13980d8k.htm 8-k 8-k united states sec...,0,0,1.04,1.02,1.1,NaN
1,2020-05-18,8-K,8-k 1 d933468d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
2,2020-05-18,8-K,8-k 1 d932846d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN

index: 116
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 117
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 119
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 121
LIVK
LIV Capital Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1790625&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-01-14
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-10,8-K,8-k 1 dp123677_8k.htm form 8-k united states ...,0,0,0.0,-0.02,-0.03,-0.07
1,2020-01-10,8-K,8-k 1 f8k011020_livcapitalacqui.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2019-12-19,8-K,8-k 1 f8k121319_livcapital.htm current report...,0,0,NaN,NaN,NaN,NaN
3,2019-12-13,8-K,8-k 1 f8k121019_livcapital.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 122
LPRO
Open Lending Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1806201&type=8-K&dateb=&owner=include&count=100
price data min date: 2018-03-06
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-15,8-K,8-k 1 d941403d8k.htm 8-k 8-k united states sec...,0,1,0.06,0.12,0.12,0.1

index: 123
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 124
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 125
NBAC
Newborn Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1780262&type=8-K&dateb=&owner=include&count=100
price data min date: 2020-05-01
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-29,8-K,8-k 1 ea121166-8k_newbornacq.htm current repo...,0,0,NaN,NaN,NaN,NaN
1,2020-02-19,8-K,8-k 1 f8k021920b_newbornacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
2,2020-02-13,8-K,8-k 1 f8k021320_newbornacq.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 127
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 128
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 129
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 130
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 131
THBR
Thunder Bridge Acquisition II, LTD
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1769318&type=8-K&dateb=&owner=include&count=100
price data min date: 2019-10-04
price data max date: 2020-07-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-10-02,8-K,8-k 1 f8k100219_thunderbridge2.htm from 8-k u...,0,0,NaN,NaN,NaN,NaN
1,2019-08-19,8-K,8-k 1 f8k081319_thunderbridge2.htm current re...,0,0,NaN,NaN,NaN,NaN
2,2019-08-13,8-K,8-k 1 f8k080819_thunderbridge2.htm form 8k un...,0,0,NaN,NaN,NaN,NaN

index: 132
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 133
nan
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

In [107]:
spac_list_current_warrants = spac_list_current.copy()
spac_list_current_warrants['ticker'] = spac_list_current_warrants.Ticker + 'W' # warrants
df_returns_current_warrants = agg_spac_returns(spac_list_current_warrants)

index: 0
ACAMW
Acamar Partners Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1759008&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-02-26
input end_date: 2020-07-18
output min date: 2019-04-15
output max date: 2020-07-14

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-13,8-K,8-k 1 tm2024803d1_8k.htm form 8-k united stat...,0,0,-0.07,NaN,NaN,NaN
1,2020-02-20,8-K,8-k 1 tm209532d1_8k.htm form 8-k united state...,0,0,0.00,0.1,-0.11,-0.08
2,2019-04-12,8-K,8-k 1 tv518793_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
3,2019-04-10,8-K,8-k 1 tv518539_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
4,2019-03-04,8-K,8-k 1 tv515277_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
5,2019-02-26,8-K,8-k 1 tv514540_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 1
ACTTW
Whole Earth Brands, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753706&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-05-01
input end_date: 2020-06-29
output min date: 2019-05-14
output max date: 2020-06-24

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-24,8-K,8-k12b/a 1 tm2023499-2_8k12ba.htm 8-k12b/a un...,0,0,NaN,NaN,NaN,NaN
1,2020-06-24,8-K,8-k12b 1 tm2023499d1_8k.htm form 8-k12b unite...,0,0,NaN,NaN,NaN,NaN
2,2020-06-15,8-K,8-k 1 tm2022707d1_8k.htm form 8-k united stat...,0,0,0.12,0.54,0.07,0.27
3,2020-06-15,8-K,8-k 1 tm2022614d1_8k.htm form 8-k united stat...,0,0,0.12,0.54,0.07,0.27
4,2020-06-08,8-K,8-k 1 tm2022016d1_8k.htm form 8-k united stat...,0,0,0.06,-0.03,0.30,0.54
5,2020-05-08,8-K,8-k 1 tm2019220d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
6,2020-03-27,8-K,8-k 1 ea120112actii_8k.htm united states secu...,0,0,NaN,NaN,NaN,NaN
7,2020-02-12,8-K,8-k 1 tv538156_8k.htm 8-k united states secur...,0,0,NaN,NaN,NaN,NaN
8,2020-01-10,8-K,8-k 1 tv536223_8k.htm form 8-k united states ...,0,0,0.04,0.21,0.21,0.31
9,2019-12-19,8-K,8-k 1 tv535070_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
10,2019-05-13,8-K,8-k 1 f8k051319_act2global.htm current report...,0,0,NaN,NaN,NaN,NaN
11,2019-05-06,8-K,8-k 1 f8k043019_act2global.htm current report...,0,0,NaN,NaN,NaN,NaN
12,2019-05-01,8-K,8-k 1 f8k042519_act2global.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 2
ALACW
Alberton Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1748621&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-10-23
input end_date: 2020-04-28
output min date: 2018-11-21
output max date: 2020-04-28

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-23,8-K,8-k 1 ea121016-8k_alberton.htm current report...,0,0,NaN,NaN,NaN,NaN
1,2020-04-17,8-K,8-k 1 ea120803-8k_alberton.htm current report...,1,0,0.49,0.45,0.70,NaN
2,2020-03-30,8-K,8-k 1 ea0120382-8k_albertonacqu.htm current r...,0,0,NaN,NaN,NaN,NaN
3,2020-03-11,8-K,8-k 1 ea119578-8k_albertonacq.htm current rep...,0,0,NaN,NaN,NaN,NaN
4,2020-03-03,8-K,8-k 1 ea119443-8k_albertonacquis.htm form 8-k...,0,0,NaN,NaN,NaN,NaN
5,2020-01-23,8-K,8-k 1 f8k012320_albertonacq.htm current repor...,0,0,0.00,0.00,0.00,-0.08
6,2020-01-21,8-K,8-k 1 f8k012120_albertonacq.htm current repor...,0,0,0.09,0.09,0.09,0.00
7,2019-12-30,8-K,8-k 1 f8k123019_albertonacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
8,2019-12-03,8-K,8-k 1 f8k120319_albertonacqui.htm current rep...,0,0,-0.08,-0.18,-0.08,-0.39
9,2019-10-11,8-K,8-k/a 1 f8k101119a_albertonacq.htm form 8-k/a...,0,0,0.09,-0.09,0.00,0.09
10,2019-10-18,8-K,8-k 1 f8k101819_alberton.htm current report u...,1,0,0.10,0.10,0.20,0.10
11,2019-10-11,8-K,8-k 1 f8k101119_albertonacq.htm current repor...,0,0,0.09,-0.09,0.00,0.09
12,2019-09-18,8-K,8-k 1 f8k091819_alberton.htm current report u...,1,0,NaN,NaN,NaN,NaN
13,2018-11-20,8-K,8-k 1 f8k112018_albertonacqui.htm current rep...,0,0,NaN,NaN,NaN,NaN
14,2018-10-26,8-K,8-k 1 f8k102618_albertonacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
15,2018-10-23,8-K,8-k 1 f8k102318_albertonacquisit.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 3
ALUSW
Alussa Energy Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1781115&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-29
input end_date: 2020-07-12
prices for ALUSW not found. skipping...
index: 4
AMCIW
AMCI Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1744494&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-11-20
input end_date: 2020-05-26
output min date: 2019-01-24
output max date: 2020-05-26

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-21,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,0.08,NaN,NaN,NaN
1,2020-05-15,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,0.07,0.25,0.33,NaN
2,2020-05-07,8-K,8-k 1 form8k.htm 8-k united states securities...,1,0,-0.18,0.65,0.65,0.88
3,2019-12-16,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
4,2019-11-19,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,-0.03,-0.09,-0.09,-0.11
5,2018-12-21,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
6,2018-11-30,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
7,2018-11-27,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN
8,2018-11-20,8-K,8-k 1 form8k.htm 8-k united states securities...,0,0,NaN,NaN,NaN,NaN

index: 5
AMHCW
Amplitude Healthcare Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1788028&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-25
input end_date: 2020-01-08
prices for AMHCW not found. skipping...
index: 6
ANDAW
Andina Acquisition Corp. III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1691936&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-01-28
input end_date: 2019-04-09
prices for ANDAW not found. skipping...
index: 7
APXTW
Apex Technology Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1777921&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-09-20
input end_date: 2019-11-05
prices for APXTW not found. skipping...
index: 8
ARYAW
ARYA SCIENCES ACQUISITION CORP.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1746037&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-10-11
input end_date: 2020-07-04
prices for ARYAW not found. skipping...
index: 9
BRPAW
Big Rock Partners Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1719406&type=8-K&dateb=&owner=include&count=100
input start_date: 2017-11-22
input end_date: 2020-03-28
output min date: 2017-12-01
output max date: 2020-03-27

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-23,8-K,8-k 1 brpa_8k.htm current report brpa_8k unit...,0,0,-0.21,0.28,NaN,NaN
1,2020-02-11,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
2,2020-02-07,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
3,2019-11-21,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
4,2019-08-21,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
5,2019-08-09,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
6,2019-07-17,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
7,2019-06-20,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
8,2019-05-21,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
9,2019-02-21,8-K,8-k 1 brpa_8k.htm curren report blueprint uni...,0,0,NaN,NaN,NaN,NaN
10,2019-01-07,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
11,2018-11-17,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
12,2017-11-28,8-K,8-k 1 brpa_8k.htm current report blueprint un...,0,0,NaN,NaN,NaN,NaN
13,2017-11-22,8-K,8-k 1 brpa_8k.htm current report untitled doc...,0,0,NaN,NaN,NaN,NaN

index: 10
CCACW
CITIC Capital Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1794621&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-02-13
input end_date: 2020-05-12
prices for CCACW not found. skipping...
index: 11
CCHW
Collier Creek Holdings
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1739566&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-10-10
input end_date: 2020-06-29
prices for CCHW not found. skipping...
index: 12
CCXW
Churchill Capital Corp II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1774675&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-06-26
input end_date: 2020-07-01
prices for CCXW not found. skipping...
index: 13
CCXXW
Churchill Capital Corp III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1793229&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-02-13
input end_date: 2020-07-18
prices for CCXXW not found. skipping...
index: 14
CFFAW
CF Finance Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1728041&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-12-17
input end_date: 2020-06-28
prices for CFFAW not found. skipping...
index: 15
CGROW
Collective Growth Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1799611&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-04-30
input end_date: 2020-06-22
prices for CGROW not found. skipping...
index: 16
CHAQW
Chardan Healthcare Acquisition 2 Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1799850&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-04-23
input end_date: 2020-06-10
prices for CHAQW not found. skipping...
index: 17
CHPMW
CHP Merger Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1785041&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-21
input end_date: 2020-01-14
prices for CHPMW not found. skipping...
index: 18
CIICW
CIIG Merger Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1789760&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-12-17
input end_date: 2020-02-05
prices for CIICW not found. skipping...
index: 19
CPAAW
Conyers Park II Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1776661&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-07-17
input end_date: 2019-09-11
prices for CPAAW not found. skipping...
index: 20
CRSAW
Crescent Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1723648&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-03-07
input end_date: 2020-06-29
prices for CRSAW not found. skipping...
index: 21
DFNSW
LGL Systems Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1777946&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-06
input end_date: 2020-03-29
prices for DFNSW not found. skipping...
index: 22
DMYTW
dMY Technology Group, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1793659&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-02-25
input end_date: 2020-04-12
prices for DMYTW not found. skipping...
index: 23
DPHCW
DiamondPeak Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1759546&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-03-04
input end_date: 2019-04-17
prices for DPHCW not found. skipping...
index: 24
ESSCW
East Stone Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1760683&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-02-19
input end_date: 2020-03-18
prices for ESSCW not found. skipping...
index: 25
EXPCW
Experience Investment Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1779128&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-09-18
input end_date: 2019-11-04
prices for EXPCW not found. skipping...
index: 26
FEACW
Flying Eagle Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1801661&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-03-10
input end_date: 2020-05-13
prices for FEACW not found. skipping...
index: 27
FMCIW
Forum Merger II Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1741231&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-08-08
input end_date: 2020-06-27
output min date: 2018-09-12
output max date: 2020-06-26

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-22,8-K,8-k 1 ea123288-8k_forummerger2.htm current re...,0,0,-0.11,0.13,NaN,NaN
1,2020-06-11,8-K,8-k 1 ea122974-8k_forummerger2.htm current re...,0,0,-0.25,0.21,0.27,0.09
2,2020-06-12,8-K,8-k 1 ea122985-8k_forummerger2.htm current re...,0,0,0.08,0.36,0.14,-0.01
3,2020-06-08,8-K,8-k 1 ea122807-8k_forummerger2.htm current re...,0,0,0.50,0.30,0.41,0.77
4,2020-06-03,8-K,8-k 1 ea122609-8k_forummerger2.htm current re...,1,0,0.12,0.48,0.79,0.16
5,2020-05-13,8-K,8-k 1 ea121761-8k_forummergii.htm current rep...,1,0,3.52,3.76,4.80,4.83
6,2020-01-07,8-K,8-k 1 f8k010720_forummerger2.htm current repo...,0,0,0.00,-0.04,-0.11,0.47
7,2020-01-02,8-K,8-k 1 f8k010220_forummerger2.htm current repo...,0,0,-0.08,-0.08,-0.08,-0.18
8,2018-09-11,8-K,8-k 1 f8k091118_forummerger2.htm current repo...,0,0,NaN,NaN,NaN,NaN
9,2018-08-13,8-K,8-k 1 f8k080718_forummerger2.htm current repo...,0,0,NaN,NaN,NaN,NaN
10,2018-08-08,8-K,8-k 1 f8k0818_forummerger2.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 28
FPACW
Far Point Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1735858&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-06-15
input end_date: 2020-07-01
prices for FPACW not found. skipping...
index: 29
FSRVW
FinServ Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1785424&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-06
input end_date: 2019-12-24
prices for FSRVW not found. skipping...
index: 30
FTACW
Fintech Acquisition Corp. III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1729756&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-11-15
input end_date: 2019-12-22
prices for FTACW not found. skipping...
index: 31
FVACW
Fortress Value Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1801368&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-05-04
input end_date: 2020-06-27
prices for FVACW not found. skipping...
index: 32
GHIVW
Gores Holdings IV, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1783398&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-01-23
input end_date: 2020-03-18
prices for GHIVW not found. skipping...
index: 33
GIXW
GigCapital2, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1770141&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-06-05
input end_date: 2020-07-09
prices for GIXW not found. skipping...
index: 34
GLEOW
Galileo Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1784851&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-10-23
input end_date: 2019-11-17
prices for GLEOW not found. skipping...
index: 35
GMHIW
Gores Metropoulos, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1758057&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-01-31
input end_date: 2019-03-27
prices for GMHIW not found. skipping...
index: 36
GPAQW
Gordon Pointe Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1708176&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-01-24
input end_date: 2020-07-06
output min date: 2018-03-12
output max date: 2020-07-01

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-01,8-K,8-k 1 ea123926-8k_halloffame.htm current repo...,1,0,NaN,NaN,NaN,NaN
1,2020-07-01,8-K,8-k12b 1 ea123945-8k12b_halloffame.htm curren...,1,0,NaN,NaN,NaN,NaN
2,2020-06-30,8-K,8-k 1 ea123486-8k_gordonpointe.htm current re...,0,0,-0.34,NaN,NaN,NaN
3,2020-06-12,8-K,8-k 1 ea123083-8k_gordonpointe.htm current re...,0,0,-0.02,1.17,0.60,0.40
4,2020-06-12,8-K,8-k 1 ea123006-8k_gordonpointe.htm current re...,0,0,-0.02,1.17,0.60,0.40
5,2020-06-05,8-K,8-k 1 ea122752-8k_gordonpointeacq.htm current...,0,0,-0.28,0.17,0.18,0.87
6,2020-05-29,8-K,8-k 1 ea122496-8k_gordonpointe.htm current re...,0,0,0.50,0.61,1.66,2.45
7,2020-05-22,8-K,8-k 1 ea122430-8k_gordonpointe.htm current re...,0,0,-0.33,-0.30,0.00,0.07
8,2020-05-14,8-K,8-k 1 ea122063-8k_gordonpointe.htm current re...,0,0,0.60,0.80,0.60,0.06
9,2020-05-11,8-K,8-k 1 ea121637-8k_gordonpointe.htm current re...,0,0,1.49,3.17,4.66,4.48
10,2020-05-05,8-K,8-k 1 ea121563-8k_gordonpointe.htm current re...,0,0,0.00,-0.20,0.50,2.00
11,2020-04-29,8-K,8-k 1 ea121204-8k_gordonpointe.htm current re...,0,0,NaN,NaN,NaN,NaN
12,2020-04-13,8-K,8-k 1 ea120647-8k_gordonpoint.htm current rep...,0,0,NaN,NaN,NaN,NaN
13,2020-03-30,8-K,8-k 1 ea120326-8k_gordonpointe.htm current re...,0,0,NaN,NaN,NaN,NaN
14,2020-03-27,8-K,8-k 1 ea120114-8k_gordonpointe.htm current re...,0,0,0.00,-0.33,-0.31,-0.17
15,2020-03-20,8-K,8-k 1 ea120030-8k_gordon.htm form 8-k united ...,0,0,0.31,0.07,0.07,-0.28
16,2020-03-10,8-K,8-k 1 ea119679-8k_gordonpointe.htm current re...,0,0,0.35,0.25,0.38,-0.17
17,2020-02-27,8-K,8-k 1 ea119112-8k_gordonpointe.htm current re...,0,0,-0.06,-0.03,-0.26,0.15
18,2020-02-21,8-K,8-k 1 f8k022120_gordonpointe.htm form 8-k uni...,0,0,0.30,0.26,-0.19,0.22
19,2020-01-24,8-K,8-k 1 f8k012420_gordonpointe.htm current repo...,0,0,-0.11,0.22,0.08,-0.05
20,2020-01-08,8-K,8-k 1 f8k010820_gordonpointe.htm current repo...,0,0,0.17,0.03,-0.08,0.25
21,2020-01-08,8-K,8-k 1 f8k010820_gordonpointe.htm current repo...,0,0,0.17,0.03,-0.08,0.25
22,2019-12-26,8-K,8-k 1 f8k122619_gordonpointe.htm form 8-k uni...,0,0,NaN,NaN,NaN,NaN
23,2019-11-27,8-K,8-k 1 f8k112719_gordonpointe.htm current repo...,0,0,-0.03,0.06,0.06,0.00
24,2019-11-04,8-K,8-k 1 f8k110419_gordonpointeacqu.htm current ...,0,0,0.00,0.00,0.00,0.09
25,2019-10-29,8-K,8-k 1 f8k102919_gordonpointe.htm form 8-k uni...,0,0,NaN,NaN,NaN,NaN
26,2019-09-26,8-K,8-k 1 f8k092619_gordonpointe.htm current repo...,0,0,0.14,0.14,0.12,0.06
27,2019-09-16,8-K,8-k 1 f8k091619_gordonpointe.htm current repo...,0,0,NaN,NaN,NaN,NaN
28,2019-08-01,8-K,8-k 1 f8k080119_gordonpointe.htm current repo...,0,0,NaN,NaN,NaN,NaN
29,2019-07-26,8-K,8-k 1 f8k072519_gordonpointe.htm form 8-k uni...,0,0,-0.05,0.04,0.25,-0.02
30,2018-03-09,8-K,8-k 1 f8k030918_gordonpointe.htm current repo...,0,0,NaN,NaN,NaN,NaN
31,2018-01-30,8-K,8-k 1 f8k013018_gordonpointeacq.htm current r...,0,0,NaN,NaN,NaN,NaN
32,2018-01-24,8-K,8-k 1 f8k012418_gordonpointe.htm current repo...,0,0,NaN,NaN,NaN,NaN

index: 37
GRAFW
Graf Industrial Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1745317&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-10-18
input end_date: 2020-07-07
prices for GRAFW not found. skipping...
index: 38
GRNVW
GreenVision Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1788841&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-18
input end_date: 2019-12-09
output min date: 2019-12-09
output max date: 2019-12-09

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-04,8-K,8-k 1 f8k120419_greenvision.htm current repor...,0,0,NaN,NaN,NaN,NaN
1,2019-11-21,8-K,8-k 1 f8k112119_greenvisionacq.htm current re...,0,0,NaN,NaN,NaN,NaN
2,2019-11-18,8-K,8-k 1 f8k111819_greenvision.htm current repor...,0,0,NaN,NaN,NaN,NaN

index: 39
GSAHW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 40
GXGXW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 41
HCACW
Hennessy Capital Acquisition Corp IV
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1750153&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-03-06
input end_date: 2019-04-20
output min date: 2019-04-16
output max date: 2019-04-18

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-04-15,8-K,8-k 1 f8k041519_hennessycapital4.htm current ...,0,0,NaN,NaN,NaN,NaN
1,2019-03-11,8-K,8-k 1 f8k030519_hennessycapacq4.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2019-03-06,8-K,8-k 1 f8k022819_hennessycapital4.htm current ...,0,0,NaN,NaN,NaN,NaN

index: 42
HCCHW
HL Acquisitions Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1736874&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-06-27
input end_date: 2020-07-07
output min date: 2018-07-18
output max date: 2020-07-07

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-26,8-K,8-k 1 ea124130-8k_hlacquisitions.htm current ...,0,1,0.58,0.09,0.20,NaN
1,2020-07-02,8-K,8-k 1 ea123766-8khlacquisitions.htm current r...,0,0,-0.04,NaN,NaN,NaN
2,2020-06-24,8-K,8-k 1 ea123386-8k_hlacquisition.htm current r...,0,0,0.10,0.83,0.27,0.39
3,2020-06-09,8-K,8-k 1 ea123011-8k_hlacquisition.htm form 8-k ...,0,1,0.33,0.14,0.29,0.90
4,2020-06-06,8-K,8-k/a 1 ea122855-8ka1_hlacquisition.htm amend...,0,1,NaN,NaN,NaN,NaN
5,2020-06-06,8-K,8-k 1 ea122769-8k_hlacquisitions.htm current ...,0,1,NaN,NaN,NaN,NaN
6,2020-03-24,8-K,8-k 1 ea121312-8k_hlacquisitions.htm current ...,0,0,0.00,-0.38,-0.31,-0.25
7,2020-03-30,8-K,8-k 1 ea120252-8k_hlacquisitions.htm current ...,0,0,-0.38,-0.31,-0.25,-0.38
8,2020-02-27,8-K,8-k 1 ea119181-8k_hlacquisitions.htm current ...,0,0,0.00,0.12,0.02,-0.04
9,2020-02-14,8-K,8-k 1 f8k021420_hlacquisitions.htm current re...,0,0,NaN,NaN,NaN,NaN
10,2020-01-29,8-K,8-k 1 f8k012920_hlacquisitionscorp.htm curren...,0,0,0.00,-0.08,-0.08,-0.08
11,2020-01-02,8-K,8-k 1 f8k010220_hlacquisitions.htm current re...,0,0,0.06,-0.03,-0.03,0.06
12,2019-12-17,8-K,8-k 1 f8k121719_hlacquisitions.htm current re...,0,0,NaN,NaN,NaN,NaN
13,2019-07-02,8-K,8-k 1 f8k070219_hlacquisitionscorp.htm curren...,0,0,NaN,NaN,NaN,NaN
14,2018-07-16,8-K,8-k 1 f8k071618_hlacquisitionscorp.htm curren...,0,0,NaN,NaN,NaN,NaN
15,2018-07-02,8-K,8-k 1 f8k070218b_hlacquisition.htm current re...,0,0,NaN,NaN,NaN,NaN
16,2018-06-27,8-K,8-k 1 f8k062718_hlacquisition.htm current rep...,0,0,NaN,NaN,NaN,NaN

index: 43
HCCOW
Healthcare Merger Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1791091&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-12-17
input end_date: 2020-01-29
prices for HCCOW not found. skipping...
index: 44
HECCUW
Hudson Executive Investment Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1803901&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-06-11
input end_date: 2020-06-16
prices for HECCUW not found. skipping...
index: 45
HYACW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 46
INSUW
Insurance Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1762322&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-03-19
input end_date: 2020-07-18
prices for INSUW not found. skipping...
index: 47
IPOBW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 48
IPOCW
Social Capital Hedosophia Holdings Corp. III
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1801170&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-04-24
input end_date: 2020-04-29
prices for IPOCW not found. skipping...
index: 49
IPVW
InterPrivate Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1789029&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-02-03
input end_date: 2020-04-06
prices for IPVW not found. skipping...
index: 50
JFKW
8i Enterprises Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753648&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-03-27
input end_date: 2020-06-29
prices for JFKW not found. skipping...
index: 51
JFKKUW
8i Enterprises Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753648&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-03-27
input end_date: 2020-06-29
prices for JFKKUW not found. skipping...
index: 52
JIHW
Juniper Industrial Holdings, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1787791&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-13
input end_date: 2020-03-28
prices for JIHW not found. skipping...
index: 53
LACQW
Leisure Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1716947&type=8-K&dateb=&owner=include&count=100
input start_date: 2017-12-01
input end_date: 2020-07-01
output min date: 2018-01-05
output max date: 2020-07-01

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-26,8-K,8-k 1 ea123684-8k_leisureacqu.htm current rep...,0,0,0.07,0.32,NaN,NaN
1,2020-03-26,8-K,8-k 1 ea120237-8k_leisure.htm current report ...,0,0,NaN,NaN,NaN,NaN
2,2020-03-26,8-K,8-k 1 ea120080-8k_leisureacq.htm current repo...,0,0,NaN,NaN,NaN,NaN
3,2020-03-04,8-K,8-k 1 d853003d8k.htm 8-k 8-k united states se...,0,0,-0.09,-0.16,-0.40,-0.50
4,2020-02-19,8-K,8-k 1 d883970d8k.htm form 8-k form 8-k united...,0,0,-0.00,-0.09,-0.14,-0.23
5,2020-02-11,8-K,8-k 1 d850379d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
6,2020-02-04,8-K,8-k 1 d875387d8k.htm form 8-k form 8-k united...,0,0,NaN,NaN,NaN,NaN
7,2020-01-30,8-K,8-k 1 d853442d8k.htm 8-k 8-k united states se...,0,0,NaN,NaN,NaN,NaN
8,2020-01-27,8-K,8-k 1 f8k012720_leisureacquis.htm current rep...,0,0,0.01,0.01,0.09,0.07
9,2020-01-17,8-K,8-k 1 f8k011520_leisureacquisition.htm curren...,0,0,NaN,NaN,NaN,NaN
10,2020-01-08,8-K,8-k 1 f8k010820_leisureacquisition.htm curren...,0,0,0.00,-0.05,-0.16,-0.07
11,2020-01-07,8-K,8-k 1 f8k010720_leisureacq.htm current report...,0,0,0.04,-0.01,-0.01,-0.01
12,2020-01-06,8-K,8-k 1 f8k010320_leisureacquisition.htm curren...,0,0,0.06,0.01,-0.04,-0.15
13,2019-12-27,8-K,8-k 1 f8k122719_leisureacquisition.htm curren...,0,0,0.26,0.26,0.21,0.22
14,2019-12-27,8-K,8-k 1 f8k122719_leisureacquisition.htm curren...,0,0,0.26,0.26,0.21,0.22
15,2019-12-05,8-K,8-k 1 f8k120519_leisureacquisition.htm curren...,0,0,NaN,NaN,NaN,NaN
16,2019-11-26,8-K,8-k 1 f8k112619_leisureacquisition.htm curren...,0,0,NaN,NaN,NaN,NaN
17,2018-12-14,8-K,8-k 1 s114746_8k.htm 8-k united states securi...,0,0,-0.01,-0.25,-0.06,-0.12
18,2017-12-26,8-K,8-k 1 tv482071_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
19,2017-12-05,8-K,8-k 1 tv481119_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
20,2017-12-01,8-K,8-k 1 tv480817_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 54
LATNW
Union Acquisition Corp. II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1766146&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-10-17
input end_date: 2019-10-27
prices for LATNW not found. skipping...
index: 55
LCAW
Landcadia Holdings II, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1768012&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-05-09
input end_date: 2020-07-03
prices for LCAW not found. skipping...
index: 56
LFACW
LF Capital Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1721386&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-06-19
input end_date: 2020-06-21
output min date: 2018-06-29
output max date: 2020-06-19

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-16,8-K,8-k 1 e1988_8k.htm form 8-k united states sec...,0,0,0.15,0.36,NaN,NaN
1,2020-03-16,8-K,8-k 1 e1817_8k.htm form 8-k united states sec...,0,0,-0.21,-0.24,-0.27,-0.17
2,2019-12-03,8-K,8-k 1 e1613_8k.htm form 8-k united states sec...,0,0,NaN,NaN,NaN,NaN
3,2019-08-19,8-K,8-k 1 e1477_8k.htm form 8-k united states sec...,0,0,0.03,0.03,0.07,0.07
4,2018-06-28,8-K,8-k 1 tv497510_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
5,2018-06-22,8-K,8-k 1 tv497397_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
6,2018-06-19,8-K,8-k 1 tv497120_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 57
LHCW
Leo Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1725134&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-02-16
input end_date: 2020-07-11
prices for LHCW not found. skipping...
index: 58
LOACW
Longevity Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1743858&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-08-31
input end_date: 2020-06-02
output min date: 2018-10-15
output max date: 2020-06-02

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-28,8-K,8-k 1 tm2021139d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
1,2020-02-21,8-K,8-k 1 tm209738d1_8k.htm form 8-k united state...,0,0,-0.05,-0.05,-0.25,-0.11
2,2020-01-24,8-K,8-k 1 tm205801d1_8k.htm form 8-k united state...,0,0,NaN,NaN,NaN,NaN
3,2019-12-05,8-K,8-k 1 tm19246101_8k.htm form 8-k united state...,0,0,0.00,0.00,-0.27,-0.18
4,2019-11-22,8-K,8-k 1 tm1923390d1_8k.htm form 8-k united stat...,0,0,NaN,NaN,NaN,NaN
5,2019-09-13,8-K,8-k 1 tv529426_8k.htm form 8-k united states ...,0,0,-0.10,-0.10,-0.20,0.00
6,2019-08-21,8-K,8-k 1 tv528040_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
7,2018-10-24,8-K,8-k 1 tv505432_8k.htm form 8-k united states ...,0,0,-0.05,-0.05,-0.15,-0.15
8,2018-10-16,8-K,8-k 1 tv504850_8k.htm form 8-k united states ...,0,0,-0.10,-0.10,-0.10,-0.20
9,2018-09-07,8-K,8-k 1 tv502467_8k.htm 8-k united states secur...,0,0,NaN,NaN,NaN,NaN
10,2018-08-31,8-K,8-k 1 tv502068_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN

index: 59
LOAKW
Live Oak Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1779020&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-05-11
input end_date: 2020-05-27
prices for LOAKW not found. skipping...
index: 60
LSACW
LifeSci Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1796129&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-03-05
input end_date: 2020-03-25
prices for LSACW not found. skipping...
index: 61
MCMJW
Merida Merger Corp. I
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1785592&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-04
input end_date: 2019-12-14
output min date: 2019-12-12
output max date: 2019-12-13

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-12-09,8-K,8-k 1 f8k120919_meridamergercorpi.htm current...,0,0,NaN,NaN,NaN,NaN
1,2019-11-07,8-K,8-k 1 f8k110719_meridamerger1.htm current rep...,0,0,NaN,NaN,NaN,NaN
2,2019-11-04,8-K,8-k 1 f8k110419_meridamerger1.htm current rep...,0,0,NaN,NaN,NaN,NaN

index: 62
MFACW
Megalith Financial Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1725872&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-08-29
input end_date: 2020-05-31
prices for MFACW not found. skipping...
index: 63
MNCLW
Monocle Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1754170&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-02-06
input end_date: 2020-01-31
prices for MNCLW not found. skipping...
index: 64
MUDSW
HYCROFT MINING HOLDING CORP
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1718405&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-02-13
input end_date: 2020-07-13
prices for MUDSW not found. skipping...
index: 65
NEBUW
Nebula Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1720353&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-01-16
input end_date: 2020-06-14
output min date: 2018-03-22
output max date: 2020-06-10

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-09,8-K,8-k 1 ea122874-8k_nebula.htm current report u...,0,1,0.59,NaN,NaN,NaN
1,2020-06-08,8-K,8-k 1 ea122783-8k_nebulaacqu.htm current repo...,0,1,0.07,NaN,NaN,NaN
2,2020-06-01,8-K,8-k 1 ea122439-8k_nebulaacq.htm current repor...,0,1,0.03,0.03,0.55,1.48
3,2020-05-18,8-K,8-k 1 ea121809-8k_nebula.htm current report u...,0,1,-0.15,-0.19,-0.10,-0.17
4,2020-05-13,8-K,8-k 1 ea121740-8k_nebulaacq.htm current repor...,0,1,0.18,0.10,0.10,0.10
5,2020-05-08,8-K,8-k/a 1 ea121610-8ka_nebulaacquisit.htm amend...,0,1,-0.23,0.17,0.30,0.11
6,2020-05-08,8-K,8-k 1 ea121568-8k_nebula.htm form 8-k united ...,0,1,-0.23,0.17,0.30,0.11
7,2020-03-26,8-K,8-k 1 nebu-8k_20200326.htm 8-k nebu-8k_202003...,0,1,-0.05,0.26,0.30,0.06
8,2020-03-18,8-K,8-k 1 d901525d8k.htm 8-k 8-k united states se...,0,1,-0.04,0.04,-0.14,-0.19
9,2020-03-06,8-K,8-k 1 ea119385-8k_nebulaacq.htm current repor...,0,0,0.00,-0.08,-0.21,-0.50
10,2020-02-24,8-K,8-k 1 f8k021820_nebulaacquisition.htm form 8-...,0,0,-0.02,-0.02,0.04,0.04
11,2020-01-09,8-K,8-k 1 f8k010920_nebulaacq.htm current report ...,0,1,-0.02,0.00,0.03,0.06
12,2020-01-06,8-K,8-k 1 f8k0120_nebulaacquisition.htm current r...,0,1,0.11,0.06,0.08,0.08
13,2019-12-20,8-K,8-k 1 f8k121819_nebulaacquisition.htm form 8-...,0,0,-0.05,-0.01,-0.01,-0.01
14,2019-12-16,8-K,8-k 1 f8k121619_nebulaacquisition.htm current...,0,0,0.85,0.94,0.85,0.92
15,2019-11-22,8-K,8-k 1 f8k112219_nebulaacq.htm current report ...,0,0,0.00,0.00,-0.12,-0.18
16,2019-11-08,8-K,8-k 1 f8k_nebula.htm united states securities...,0,0,0.02,0.02,0.02,0.02
17,2018-02-27,8-K,8-k 1 f8k022718_nebulaacq.htm current report ...,0,0,NaN,NaN,NaN,NaN
18,2018-01-19,8-K,8-k 1 f8k011218_nebulaacquisition.htm current...,0,0,NaN,NaN,NaN,NaN
19,2018-01-16,8-K,8-k 1 f8k010918_nebulaacquisition.htm current...,0,0,NaN,NaN,NaN,NaN

index: 66
NFINW
Netfin Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1776903&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-08-02
input end_date: 2020-07-04
output min date: 2019-08-14
output max date: 2020-07-02

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-29,8-K,8-k 1 ea123558-8k_netfinacq.htm current repor...,1,0,0.33,0.03,NaN,NaN
1,2019-08-12,8-K,8-k 1 f8k081219_netfin.htm current report uni...,0,0,NaN,NaN,NaN,NaN
2,2019-08-08,8-K,8-k 1 f8k073019_netfinacquisition.htm form 8-...,0,0,NaN,NaN,NaN,NaN
3,2019-08-02,8-K,8-k 1 f8k073019_netfinacquisition.htm current...,0,0,NaN,NaN,NaN,NaN

index: 67
NPAW
New Providence Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1780312&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-09-10
input end_date: 2019-11-04
prices for NPAW not found. skipping...
index: 68
OACW
Oaktree Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1773751&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-07-17
input end_date: 2019-10-06
prices for OACW not found. skipping...
index: 69
OPESW
Opes Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1723580&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-03-13
input end_date: 2020-07-18
output min date: 2018-03-26
output max date: 2020-07-14

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-07-13,8-K,8-k 1 f8k071320_opesacquisition.htm form 8-k ...,0,0,-0.06,NaN,NaN,NaN
1,2020-07-06,8-K,8-k 1 ea124072-8k_opesacq.htm current report ...,0,0,-0.31,-0.33,-0.46,NaN
2,2020-06-29,8-K,8-k 1 ea123648-8k_opesacq.htm current report ...,0,0,-0.11,-0.25,-0.47,-0.49
3,2020-06-18,8-K,8-k 1 ea123212-8k_opes.htm form 8-k united st...,0,0,-0.00,-0.05,-0.04,0.10
4,2020-06-08,8-K,8-k 1 ea122827-8k_opesacquisition.htm current...,1,1,3.18,3.13,4.18,7.00
5,2020-04-13,8-K,8-k 1 ea120651-8k_opesacqu.htm current report...,0,0,0.43,0.43,0.85,0.83
6,2020-04-06,8-K,8-k 1 ea120500-8k_opesacquisition.htm form 8-...,0,0,NaN,NaN,NaN,NaN
7,2020-03-16,8-K,8-k 1 ea119665-8k_opesacqui.htm current repor...,0,0,0.40,0.26,-0.65,-0.65
8,2020-01-15,8-K,8-k 1 f8k011520_opesacquisition.htm current r...,0,0,-0.05,0.14,0.73,0.59
9,2020-01-02,8-K,8-k 1 f8k010220_opesacquisition.htm current r...,0,0,0.11,-0.02,0.07,-0.07
10,2019-11-15,8-K,8-k 1 f8k111519_opesacquisition.htm current r...,0,0,NaN,NaN,NaN,NaN
11,2019-10-28,8-K,8-k 1 f8k102819_opesacquisition.htm form 8-k ...,0,0,0.08,0.49,0.50,0.90
12,2019-09-16,8-K,8-k 1 f8k091619_opesacquisition.htm form 8-k ...,0,0,-0.06,0.12,0.12,0.06
13,2019-09-13,8-K,8-k 1 f8k091319_opesacquisition.htm form 8-k ...,0,0,-0.00,0.07,0.14,0.21
14,2018-10-11,8-K,8-k 1 s113264_8k.htm 8-k united states securi...,0,0,-0.09,-0.16,-0.16,-0.12
15,2018-03-22,8-K,8-k 1 s109421_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
16,2018-03-16,8-K,8-k 1 s109428_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
17,2018-03-13,8-K,8-k 1 s109358_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN

index: 70
ORSNW
Orisun Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1770251&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-08-02
input end_date: 2020-07-04
prices for ORSNW not found. skipping...
index: 71
PAACW
PROFICIENT ALPHA ACQUISITION CORP
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1764711&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-06-03
input end_date: 2020-06-09
prices for PAACW not found. skipping...
index: 72
PACQW
Pure Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1726293&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-04-12
input end_date: 2020-07-12
prices for PACQW not found. skipping...
index: 73
PCPLW
CC Neuberger Principal Holdings I
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1800347&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-04-28
input end_date: 2020-06-17
prices for PCPLW not found. skipping...
index: 74
PICW
Pivotal Investment Corp II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1772720&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-07-11
input end_date: 2019-07-21
prices for PICW not found. skipping...
index: 75
PTACW
PropTech Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1784535&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-26
input end_date: 2020-01-14
output min date: 2020-01-13
output max date: 2020-01-14

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-01-09,8-K,8-k 1 f8k010920_proptech.htm current report u...,0,0,NaN,NaN,NaN,NaN
1,2019-12-03,8-K,8-k 1 f8k112619_proptech.htm current report u...,0,0,NaN,NaN,NaN,NaN
2,2019-11-26,8-K,8-k 1 f8k112119_proptech.htm current report u...,0,0,NaN,NaN,NaN,NaN

index: 76
RMGW
RMG Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1757932&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-02-07
input end_date: 2020-02-10
prices for RMGW not found. skipping...
index: 77
ROCHUW
Roth CH Acquisition I Co
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1796303&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-05-04
input end_date: 2020-05-31
prices for ROCHUW not found. skipping...
index: 78
RPLAW
Replay Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1763731&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-04-03
input end_date: 2019-08-20
prices for RPLAW not found. skipping...
index: 79
SAMAW
Schultze Special Purpose Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1754824&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-12-10
input end_date: 2020-06-14
prices for SAMAW not found. skipping...
index: 80
SAQNW
Software Acquisition Group Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1776909&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-25
input end_date: 2020-01-08
prices for SAQNW not found. skipping...
index: 81
SBEW
Switchback Energy Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1777393&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-07-25
input end_date: 2019-09-21
prices for SBEW not found. skipping...
index: 82
SCPEW
SC Health Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1764301&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-07-11
input end_date: 2019-09-04
prices for SCPEW not found. skipping...
index: 83
SCVXW
SCVX Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1794717&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-01-23
input end_date: 2020-02-02
prices for SCVXW not found. skipping...
index: 84
SFTWW
Osprey Technology Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1753539&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-10-31
input end_date: 2019-12-22
prices for SFTWW not found. skipping...
index: 85
SHLLW
Tortoise Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1759631&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-02-27
input end_date: 2020-06-23
prices for SHLLW not found. skipping...
index: 86
SMMCW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 87
SOACW
Sustainable Opportunities Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1798562&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-05-08
input end_date: 2020-06-29
prices for SOACW not found. skipping...
index: 88
SPAQW
Spartan Energy Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1720990&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-08-09
input end_date: 2020-07-15
prices for SPAQW not found. skipping...
index: 89
SRACW
Stable Road Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1781162&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-11-13
input end_date: 2019-12-31
prices for SRACW not found. skipping...
index: 90
SSPKW
Silver Spike Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1779474&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-08-12
input end_date: 2020-02-19
prices for SSPKW not found. skipping...
index: 91
TDACW
Trident Acquisitions Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1673481&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-05-29
input end_date: 2020-06-02
output min date: 2018-06-13
output max date: 2020-06-02

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-28,8-K,8-k 1 ea122525-8k_tridentacq.htm current repo...,0,0,0.01,-0.27,NaN,NaN
1,2020-05-26,8-K,8-k 1 ea122402-8k_tridentacqui.htm current re...,0,0,0.30,0.38,0.00,NaN
2,2019-11-26,8-K,8-k 1 f8k112619_tridentacq.htm current report...,0,0,0.35,-0.12,0.35,0.1
3,2018-06-05,8-K,8-k 1 s110685_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN
4,2018-05-29,8-K,8-k 1 s110634_8k.htm 8-k united states securi...,0,0,NaN,NaN,NaN,NaN

index: 92
THCAW
Tuscan Holdings Corp. II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1773087&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-07-11
input end_date: 2019-07-31
prices for THCAW not found. skipping...
index: 93
THCBW
Tuscan Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1760689&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-03-05
input end_date: 2020-06-15
output min date: 2019-03-27
output max date: 2020-06-15

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-06-10,8-K,8-k 1 ea123075-8k_tuscan.htm form 8-k united ...,0,0,0.22,NaN,NaN,NaN
1,2020-04-20,8-K,8-k 1 ea120991-8k_tuscanhold.htm current repo...,0,0,0.00,0.00,0.17,0.13
2,2019-08-08,8-K,8-k 1 f8k080819_tuscanholding.htm form 8-k un...,0,0,0.01,-0.01,-0.02,-0.04
3,2019-03-21,8-K,8-k 1 f8k032119_tuscanholdings.htm current re...,0,0,NaN,NaN,NaN,NaN
4,2019-03-07,8-K,8-k 1 f8k030719_tuscanholding.htm current rep...,0,0,NaN,NaN,NaN,NaN
5,2019-03-05,8-K,8-k 1 f8k030519_tuscanholdings.htm current re...,0,0,NaN,NaN,NaN,NaN

index: 94
TOTAW
Tottenham Acquisition I Ltd
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1731176&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-08-01
input end_date: 2020-05-11
output min date: 2018-08-27
output max date: 2020-05-11

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-06,8-K,8-k 1 tottenham_8k-050820.htm form 8-k united...,0,0,NaN,NaN,NaN,NaN
1,2020-04-23,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
2,2020-04-09,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
3,2020-01-23,8-K,8-k 1 tottenham_8k-012320.htm form 8-k united...,0,0,NaN,NaN,NaN,NaN
4,2020-01-03,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
5,2019-10-25,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
6,2019-07-24,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN
7,2018-08-01,8-K,8-k/a 1 tottenham_8ka1.htm amended current re...,0,0,NaN,NaN,NaN,NaN
8,2018-08-01,8-K,8-k 1 tottenham_8k.htm form 8-k united states...,0,0,NaN,NaN,NaN,NaN

index: 95
TRNEW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 96
TZACW
Tenzing Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1742927&type=8-K&dateb=&owner=include&count=100
input start_date: 2018-08-24
input end_date: 2020-05-26
output min date: 2018-10-18
output max date: 2020-05-26

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-05-21,8-K,8-k 1 tm2020397d1_8k.htm form 8-k united stat...,0,0,0.00,NaN,NaN,NaN
1,2020-02-18,8-K,8-k 1 tm209296-1_8k.htm form 8-k united state...,0,0,0.19,0.38,0.25,0.11
2,2020-02-10,8-K,8-k 1 tm208113d1_8k.htm form 8-k united state...,0,0,NaN,NaN,NaN,NaN
3,2018-10-17,8-K,8-k 1 tv504990_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
4,2018-09-05,8-K,8-k 1 tv502314_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
5,2018-08-29,8-K,8-k 1 tv501872_8k.htm form 8-k united states ...,0,0,NaN,NaN,NaN,NaN
6,2018-08-24,8-K,8-k 1 tv501602_8k.htm 8-k united states secur...,0,0,NaN,NaN,NaN,NaN

index: 97
ZGYHW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 98
ACNDUW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 99
AGBAW
AGBA Acquisition Ltd
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1769624&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-05-14
input end_date: 2020-05-16
prices for AGBAW not found. skipping...
index: 100
ARYBW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 101
BMRGW
B. Riley Principal Merger Corp. II
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1805077&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-05-22
input end_date: 2020-06-29
prices for BMRGW not found. skipping...
index: 102
BRLIW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 103
DEHW
D8 Holdings Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1812173&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 104
DFHTW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 105
DFPHW
DFP HEALTHCARE ACQUISITIONS CORP.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1799191&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-03-13
input end_date: 2020-05-03
prices for DFPHW not found. skipping...
index: 106
DMYDW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 107
FUSEW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 108
GIKW
GigCapital3, Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1802749&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-05-13
input end_date: 2020-07-02
prices for GIKW not found. skipping...
index: 110
GOACW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 111
HPXW
HPX Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1809353&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 112
IWACW
ISWILL ACQUISITION Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1765604&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 113
JEFW
Jefferies Financial Group Inc.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=96223&type=8-K&dateb=&owner=include&count=100
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
none of the date identifiers worked. skipping this form...
input start_date: 2014-09-16
input end_date: 2019-10-01
prices for JEFW not found. skipping...
index: 114
JWSW
Jaws Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1800682&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-05-18
input end_date: 2020-07-07
prices for JWSW not found. skipping...
index: 116
KCACW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 117
LCAHW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 119
LGVWW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 121
LIVKW
LIV Capital Acquisition Corp.
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1790625&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-12-13
input end_date: 2020-03-15
output min date: 2020-01-14
output max date: 2020-03-13

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-03-10,8-K,8-k 1 dp123677_8k.htm form 8-k united states ...,0,0,-0.19,NaN,NaN,NaN
1,2020-01-10,8-K,8-k 1 f8k011020_livcapitalacqui.htm current r...,0,0,NaN,NaN,NaN,NaN
2,2019-12-19,8-K,8-k 1 f8k121319_livcapital.htm current report...,0,0,NaN,NaN,NaN,NaN
3,2019-12-13,8-K,8-k 1 f8k121019_livcapital.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 122
LPROW
Open Lending Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1806201&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-06-15
input end_date: 2020-06-20
prices for LPROW not found. skipping...
index: 123
MCACW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 124
MLACW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 125
NBACW
Newborn Acquisition Corp
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1780262&type=8-K&dateb=&owner=include&count=100
input start_date: 2020-02-13
input end_date: 2020-05-04
output min date: 2020-04-30
output max date: 2020-05-04

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2020-04-29,8-K,8-k 1 ea121166-8k_newbornacq.htm current repo...,0,0,NaN,NaN,NaN,NaN
1,2020-02-19,8-K,8-k 1 f8k021920b_newbornacq.htm current repor...,0,0,NaN,NaN,NaN,NaN
2,2020-02-13,8-K,8-k 1 f8k021320_newbornacq.htm current report...,0,0,NaN,NaN,NaN,NaN

index: 127
PANAW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 128
PSACW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 129
PSTHW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 130
SSMCW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 131
THBRW
Thunder Bridge Acquisition II, LTD
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1769318&type=8-K&dateb=&owner=include&count=100
input start_date: 2019-08-13
input end_date: 2019-10-07
output min date: 2019-10-04
output max date: 2019-10-07

,date,form,text,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
0,2019-10-02,8-K,8-k 1 f8k100219_thunderbridge2.htm from 8-k u...,0,0,NaN,NaN,NaN,NaN
1,2019-08-19,8-K,8-k 1 f8k081319_thunderbridge2.htm current re...,0,0,NaN,NaN,NaN,NaN
2,2019-08-13,8-K,8-k 1 f8k080819_thunderbridge2.htm form 8k un...,0,0,NaN,NaN,NaN,NaN

index: 132
TREBW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

index: 133
WPFW
nan
url to forms: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=nan&type=8-K&dateb=&owner=include&count=100
no 8Ks found

Past SPACs

In [42]:
# bad price data: ACEL
corrupt_past = ['ACEL']

# note .123 is 12.3% in output
print('mean returns for past spacs')
df_mean_returns_past = df_returns_past[~df_returns_past.symbol.isin(corrupt_past)].groupby('symbol').agg(
    {'open_close_t+1_%chg':'mean','open_close_t+3_%chg':'mean',
     'open_close_t+5_%chg':'mean','open_close_t+7_%chg':'mean'})
np.round(df_mean_returns_past.sort_values(by='open_close_t+3_%chg'), 3)

,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
symbol,,,,
GSMG,-0.058,-0.132,-0.073,-0.064
KXIN,-0.134,-0.109,-0.112,-0.127
AVCT,-0.052,-0.081,-0.098,-0.105
AESE,-0.033,-0.070,-0.079,-0.073
IMVT,0.008,-0.044,-0.072,-0.036
SPCE,-0.013,-0.044,-0.068,-0.063
BRMK,-0.017,-0.030,-0.044,-0.025
TH,-0.027,-0.027,-0.025,-0.015
HYMC,-0.000,-0.024,-0.038,-0.058
ROSE,-0.036,-0.020,-0.027,0.009
NSCO,-0.021,-0.020,-0.056,-0.065
KLR,-0.008,-0.018,-0.023,-0.038
PACK,-0.009,-0.014,-0.022,-0.034
GTEC,0.037,-0.013,-0.023,-0.046
GTYH,-0.007,-0.012,-0.017,-0.043
SG,0.004,-0.009,-0.019,-0.022
SMPL,-0.005,-0.008,-0.019,-0.009
BRQS,0.059,-0.004,-0.004,-0.007
NFH,0.000,-0.001,0.000,-0.007
FG,0.004,0.000,0.003,0.011
WSC,0.003,0.004,0.004,-0.000
RPAY,0.014,0.009,0.017,0.020
AHCO,0.011,0.015,0.020,0.023
XYNO,0.018,0.017,-0.005,-0.034
PRTH,0.003,0.018,0.023,0.010
MGY,0.004,0.020,0.016,0.019
ATCX,0.044,0.021,0.009,0.010
LAZY,0.016,0.029,0.022,0.027
DKNG,0.018,0.031,0.061,0.097
CCC,0.030,0.040,0.000,0.005
VVNT,0.012,0.063,0.026,0.004
WTRH,0.011,0.095,0.071,0.064
LPRO,0.060,0.120,0.120,0.100
KERN,0.052,0.294,0.170,0.107
NKLA,0.037,0.354,0.395,0.340

In [34]:
print('summary stats for returns in past spacs')
np.round(df_returns_past[~df_returns_past.symbol.isin(corrupt_past)].dropna().describe(), 3)

,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
count,832.000,832.000,832.000,832.000,832.000,832.000
mean,0.012,0.054,-0.005,0.005,-0.006,-0.010
std,0.109,0.226,0.119,0.313,0.223,0.217
min,0.000,0.000,-0.661,-0.810,-0.820,-0.840
25%,0.000,0.000,-0.030,-0.050,-0.060,-0.073
50%,0.000,0.000,0.000,0.000,0.000,0.000
75%,0.000,0.000,0.020,0.020,0.020,0.020
max,1.000,1.000,1.140,6.320,3.390,2.380

In [45]:
print('mean returns for past spacs (LOI text match)')
np.round(df_returns_past[(~df_returns_past.symbol.isin(corrupt_past)) &
                         (df_returns_past.letter_of_intent_found==1)].dropna().groupby('symbol').agg(
    {'open_close_t+1_%chg':'mean','open_close_t+3_%chg':'mean',
     'open_close_t+5_%chg':'mean','open_close_t+7_%chg':'mean'}), 3)

,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
symbol,,,,
AVCT,0.000,0.0,0.000,0.000
KLR,-0.002,0.0,0.006,-0.001
XYNO,0.000,0.0,0.000,0.000

Current SPACs

In [92]:
# bad price data
corrupt_current = []

# note .123 is 12.3% in output
print('mean returns for current spacs')
df_mean_returns_current = df_returns_current[~df_returns_current.symbol.isin(corrupt_current)].groupby('symbol').agg(
    {'open_close_t+1_%chg':'mean','open_close_t+3_%chg':'mean',
     'open_close_t+5_%chg':'mean','open_close_t+7_%chg':'mean'})
np.round(df_mean_returns_current.dropna().sort_values(by='open_close_t+3_%chg'), 3)

mean returns for current spacs

,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
symbol,,,,
LCA,-0.103,-0.122,-0.160,-0.215
INSU,-0.065,-0.080,-0.080,-0.095
CRSA,-0.055,-0.060,-0.068,-0.068
TZAC,-0.043,-0.040,-0.043,-0.043
MUDS,-0.000,-0.024,-0.038,-0.058
LIVK,0.000,-0.020,-0.030,-0.070
GRAF,0.027,-0.017,0.033,0.000
OPES,-0.000,-0.014,-0.009,0.022
HECCU,-0.010,-0.010,-0.010,-0.010
NFIN,-0.020,-0.010,-0.020,-0.010
ARYA,-0.012,-0.008,-0.004,-0.006
LHC,-0.005,-0.007,-0.009,-0.008
FPAC,0.007,-0.005,-0.017,-0.009
JFKKU,-0.004,-0.004,0.000,0.001
THCB,-0.003,-0.003,-0.003,0.000
ORSN,0.000,0.000,0.005,0.005
OAC,0.000,0.000,0.000,0.000
RMG,0.000,0.000,0.000,0.002
ROCHU,0.000,0.000,0.000,0.000
RPLA,0.000,0.000,0.000,0.000
SAMA,0.010,0.000,-0.003,0.007
JIH,-0.010,0.000,-0.005,0.000
ACAM,0.000,0.000,0.000,0.000
FVAC,0.000,0.000,0.010,0.010
FTAC,0.000,0.000,0.000,0.000
AGBA,0.000,0.000,0.000,0.000
ANDA,0.000,0.000,0.000,0.000
CCXX,0.010,0.000,0.010,0.020
CCAC,0.000,0.000,0.000,-0.010
ALAC,0.000,0.001,0.001,0.004
TOTA,0.000,0.001,0.004,0.006
AMCI,0.002,0.002,0.002,0.002
LOAC,0.002,0.002,0.004,0.004
LFAC,0.008,0.002,0.000,0.005
JFK,-0.005,0.004,0.006,0.004
PACQ,0.002,0.004,0.007,0.004
SPAQ,-0.002,0.005,0.010,0.005
CFFA,0.002,0.005,0.011,0.012
TDAC,0.003,0.007,0.007,0.010
GIX,0.007,0.007,0.010,0.017
MFAC,0.000,0.008,0.005,0.010
IPV,0.000,0.010,0.010,0.010
SBE,0.010,0.010,0.020,0.020
LACQ,0.003,0.011,0.010,0.002
JEF,0.010,0.012,0.005,-0.000
PAAC,-0.034,0.013,-0.007,-0.003
BRPA,0.011,0.013,0.011,0.010
ACTT,0.010,0.014,0.005,0.020
HCCH,0.016,0.018,0.021,0.042
NEBU,0.019,0.018,0.035,0.055
SSPK,0.000,0.020,0.010,0.010
CCX,0.005,0.020,0.010,0.015
GPAQ,-0.005,0.026,0.011,0.010
FEAC,0.010,0.030,0.030,0.040
CCH,0.037,0.107,0.093,0.087
FMCI,0.023,0.110,0.126,0.130
LPRO,0.060,0.120,0.120,0.100
BMRG,0.110,0.130,0.100,0.120
DFNS,0.000,0.170,0.170,0.170
SHLL,0.190,0.355,0.355,1.060

In [95]:
print('summary stats for returns in current spacs')
np.round(df_returns_current[~df_returns_current.symbol.isin(corrupt_current)].dropna().describe(), 3)

summary stats for returns in current spacs

,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
count,385.000,385.000,385.000,385.000,385.000,385.000
mean,0.036,0.104,0.001,0.008,0.006,0.011
std,0.187,0.306,0.045,0.061,0.066,0.129
min,0.000,0.000,-0.280,-0.220,-0.290,-0.310
25%,0.000,0.000,0.000,0.000,0.000,0.000
50%,0.000,0.000,0.000,0.000,0.000,-0.000
75%,0.000,0.000,0.000,0.010,0.010,0.010
max,1.000,1.000,0.380,0.710,0.710,2.120

In [96]:
print('mean returns for current spacs (LOI text match)')
np.round(df_returns_current[(~df_returns_current.symbol.isin(corrupt_current)) &
                            (df_returns_current.letter_of_intent_found==1)].dropna().groupby('symbol').agg(
    {'open_close_t+1_%chg':'mean','open_close_t+3_%chg':'mean',
     'open_close_t+5_%chg':'mean','open_close_t+7_%chg':'mean'}), 3)

mean returns for current spacs (LOI text match)

,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
symbol,,,,
ALAC,-0.003,0.000,0.000,0.007
AMCI,0.000,0.000,0.000,0.010
BMRG,0.110,0.130,0.100,0.120
FMCI,0.050,0.125,0.155,0.080
JEF,-0.030,0.090,0.090,0.100
MFAC,0.000,0.010,0.020,0.050
NFIN,-0.020,-0.010,-0.020,-0.010
OPES,0.120,0.110,0.200,0.580
PAAC,0.000,0.010,0.000,0.000
SAMA,0.010,0.000,-0.010,0.000

Current SPAC Warrants

In [108]:
# bad price data
corrupt_current = []

# note .123 is 12.3% in output
print('mean returns for current spacs')
df_mean_returns_current = df_returns_current_warrants[~df_returns_current_warrants.symbol.isin(corrupt_current)].groupby('symbol').agg(
    {'open_close_t+1_%chg':'mean','open_close_t+3_%chg':'mean',
     'open_close_t+5_%chg':'mean','open_close_t+7_%chg':'mean'})
np.round(df_mean_returns_current.dropna().sort_values(by='open_close_t+3_%chg'), 3)

mean returns for current spacs

,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
symbol,,,,
LOACW,-0.060,-0.060,-0.194,-0.128
THCBW,0.077,-0.005,0.075,0.045
TDACW,0.220,-0.003,0.175,0.100
LACQW,0.060,0.030,-0.033,-0.063
ALACW,0.111,0.040,0.130,-0.032
HCCHW,0.072,0.048,0.014,0.086
LFACW,-0.010,0.050,-0.100,-0.050
NEBUW,0.062,0.099,0.133,0.129
ACAMW,-0.035,0.100,-0.110,-0.080
AMCIW,-0.015,0.270,0.297,0.385
ACTTW,0.085,0.315,0.162,0.348
OPESW,0.271,0.319,0.401,0.760
GPAQW,0.133,0.366,0.442,0.553
TZACW,0.095,0.380,0.250,0.110
FMCIW,0.472,0.640,0.889,0.876

In [109]:
print('summary stats for returns in current spacs')
np.round(df_returns_current_warrants[~df_returns_current_warrants.symbol.isin(corrupt_current)].dropna().describe(), 3)

summary stats for returns in current spacs

,letter_of_intent_found,business_combination_agreement_found,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
count,93.000,93.000,93.000,93.000,93.000,93.000
mean,0.054,0.118,0.134,0.212,0.245,0.311
std,0.227,0.325,0.538,0.649,0.856,1.069
min,0.000,0.000,-0.380,-0.380,-0.650,-0.650
25%,0.000,0.000,-0.050,-0.050,-0.090,-0.110
50%,0.000,0.000,0.000,0.030,0.070,0.060
75%,0.000,0.000,0.120,0.250,0.270,0.250
max,1.000,1.000,3.520,3.760,4.800,7.000

In [110]:
print('mean returns for current spacs (LOI text match)')
np.round(df_returns_current_warrants[(~df_returns_current_warrants.symbol.isin(corrupt_current)) &
                            (df_returns_current_warrants.letter_of_intent_found==1)].dropna().groupby('symbol').agg(
    {'open_close_t+1_%chg':'mean','open_close_t+3_%chg':'mean',
     'open_close_t+5_%chg':'mean','open_close_t+7_%chg':'mean'}), 3)

mean returns for current spacs (LOI text match)

,open_close_t+1_%chg,open_close_t+3_%chg,open_close_t+5_%chg,open_close_t+7_%chg
symbol,,,,
ALACW,0.10,0.10,0.200,0.100
AMCIW,-0.18,0.65,0.650,0.880
FMCIW,1.82,2.12,2.795,2.495
OPESW,3.18,3.13,4.180,7.000